<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Financial monitoring</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content layout="column">
        <div flex layout-padding>
            Reload cost centers information
            <md-button ng-click="getDataLists()" aria-label="Reload" class="md-icon-button md-raised">
                <md-icon md-svg-src="images/icons/reload_24px.svg"></md-icon>
            </md-button>
        </div>
        <div layout="row" layout-align="none center">
            <ng-md-icon icon="search" size="24"></ng-md-icon>
            <md-input-container flex>
                <label>Search by account or cost center</label>
                <input ng-model="searchString" ng-change="renderData('new')">
            </md-input-container>
        </div>
        <div layout="row" class="paginator spacer-top">
            <md-input-container class="input-no-margin wider">
                <label>Results/page</label>
                <md-select ng-model="pageSize" md-on-close="renderData('new')" aria-label="pageSize" name="pageSize">
                    <md-option ng-value="10">10</md-option>
                    <md-option ng-value="20">20</md-option>
                    <md-option ng-value="50">50</md-option>
                </md-select>
            </md-input-container>
            <md-input-container class="input-no-margin">
                <label>Page</label>
                <md-select ng-model="currentPage" md-on-close="renderData('page')" aria-label="currentPage" name="currentPage">
                    <md-option ng-repeat="page in pages" ng-value="page">{{page}}</md-option>
                </md-select>
            </md-input-container>
        </div>
        <form flex novalidate name="financialManagementForm"
            ng-submit="financialManagementForm.$valid && submitDataChanges(forms['finances'], financesToShow, thisAccount)">
            <div flex layout="row" layout-padding>
                <div class="centers-list" layout-padding>
                    <div class="compact-list"
                            ng-repeat="(centerNum,center) in shownData track by $index">
                        <div class="first-level">
                            <md-button ng-click="center.showAccounts = true"
                                    ng-if="!center.showAccounts"
                                    aria-label="Details"
                                    class="md-icon-button interaction-button">
                                <md-icon md-svg-src="images/icons/expand_more_24px.svg"></md-icon>
                            </md-button>
                            <md-button ng-click="center.showAccounts = false"
                                    ng-if="center.showAccounts"
                                    aria-label="Details"
                                    class="md-icon-button interaction-button">
                                <md-icon md-svg-src="images/icons/expand_less_24px.svg"></md-icon>
                            </md-button>
                            {{ center.name_en }}
                            <md-icon ng-if="center.active === 1"
                                    class="financial-status"
                                    md-svg-src="images/icons/check_24px.svg"></md-icon>
                            <md-icon ng-if="center.active === 0"
                                    class="financial-status"
                                    md-svg-src="images/icons/unavailable_24px.svg"></md-icon>
                            <!--
                                <md-button ng-click="showDetailsCenter(costCentersList, center)"
                                        aria-label="Details"
                                        class="md-icon-button interaction-button">
                                    <md-icon md-svg-src="images/icons/description_24px.svg"></md-icon>
                                </md-button>
                            -->
                        </div>
                        <div ng-if="center.showAccounts"
                            class="second-level">
                            <div ng-repeat="(accountNum,account) in center.accountsMatching track by $index"
                                    class="list-item">
                                {{ account.name_en }}
                                <md-icon ng-if="account.active === 1"
                                        class="financial-status"
                                        md-svg-src="images/icons/check_24px.svg"></md-icon>
                                <md-icon ng-if="account.active === 0"
                                        class="financial-status"
                                        md-svg-src="images/icons/unavailable_24px.svg"></md-icon>
                                <md-button ng-click="showDetailsAccount(center, account)"
                                        aria-label="Details"
                                        class="md-icon-button interaction-button">
                                    <md-icon md-svg-src="images/icons/description_24px.svg"></md-icon>
                                </md-button>
                            </div>
                        </div>
                    </div>
                    <div layout="row" class="spacer-top-wide paginator">
                        <md-input-container class="input-no-margin wider">
                            <label>Results/page</label>
                            <md-select ng-model="pageSize" md-on-close="renderData('new')" aria-label="pageSize"
                                name="pageSize">
                                <md-option ng-value="10">10</md-option>
                                <md-option ng-value="20">20</md-option>
                                <md-option ng-value="50">50</md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="input-no-margin">
                            <label>Page</label>
                            <md-select ng-model="currentPage" md-on-close="renderData('page')" aria-label="currentPage"
                                name="currentPage">
                                <md-option ng-repeat="page in pages" ng-value="page">{{page}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>

                </div>
                <div layout-padding>
                    <div ng-if="accountSelected" class="show-finances">
                        <div flex ng-if="financesToShow.year === currentYear"
                                layout="column" layout-align="start start">
                            <div layout="row" layout-align="center">
                                <p>Financial information for {{thisAccount.name_en}}@{{thisAccount.cost_center_name_en}}:</p>
                            </div>
                            <div layout="row" layout-align="center center">
                                <div class="previous-year" layout="row" layout-align="center">
                                    <md-button ng-click="previousYearFinances(financesToShow)"
                                            aria-label="Details"
                                            class="md-icon-button interaction-button">
                                        <md-icon md-svg-src="images/icons/previous_24px.svg"></md-icon>
                                    </md-button>
                                </div>
                                <div class="show-year" layout="row" layout-align="center">
                                    <span>{{financesToShow.year}}</span>
                                </div>
                                <div class="next-year" layout="row" layout-align="center">
                                    <md-button ng-click="nextYearFinances(financesToShow)"
                                            aria-label="Details"
                                            class="md-icon-button interaction-button">
                                        <md-icon md-svg-src="images/icons/next_24px.svg"></md-icon>
                                    </md-button>
                                </div>
                            </div>
                            <div>
                                <ul>
                                    <li>Current available amount:
                                        {{(financesToShow.current_amount_tax - financesToShow.amount_requests_tax) | currency:"":2}}
                                        €</li>
                                    <li>Amount in pending requests: {{financesToShow.amount_requests_tax | currency:"":2}} €</li>
                                    <li>Funds allocated this year (€):
                                        <md-input-container class="input-row smaller">
                                            <input ng-model="financesToShow.initial_amount"
                                                    ng-change="processChange(financesToShow,'{{financesToShow.initial_amount}}')"
                                                    name="moneyCurrent"
                                                    positive-float-validate="1000000000">
                                        </md-input-container>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div ng-if="currentYear > financesToShow.year"
                                layout="column" layout-align="start start">
                            <div layout="row" layout-align="center">
                                <p>Financial information for {{thisAccount.name_en}}@{{thisAccount.cost_center_name_en}}:</p>
                            </div>
                            <div layout="row" layout-align="center center">
                                <div class="previous-year" layout="row" layout-align="center">
                                    <md-button ng-click="previousYearFinances(financesToShow)"
                                            aria-label="Details"
                                            class="md-icon-button interaction-button">
                                        <md-icon md-svg-src="images/icons/previous_24px.svg"></md-icon>
                                    </md-button>
                                </div>
                                <div class="show-year" layout="row" layout-align="center">
                                    <span>{{financesToShow.year}}</span>
                                </div>
                                <div class="next-year" layout="row" layout-align="center">
                                    <md-button ng-click="nextYearFinances(financesToShow)"
                                            aria-label="Details"
                                            class="md-icon-button interaction-button">
                                        <md-icon md-svg-src="images/icons/next_24px.svg"></md-icon>
                                    </md-button>
                                </div>
                            </div>
                            <div>
                                <ul>
                                    <li>Amount available:
                                        {{(financesToShow.current_amount_tax - financesToShow.amount_requests_tax) | currency:"":2}}
                                        €</li>
                                    <li>Funds allocated: {{financesToShow.initial_amount | currency:"":2}} €</li>
                                </ul>
                            </div>
                        </div>
                        <div ng-if="financesToShow.year > currentYear"
                                layout="column" layout-align="start start">
                            <div layout="row" layout-align="center">
                                <p>Financial information for {{thisAccount.name_en}}@{{thisAccount.cost_center_name_en}}:</p>
                            </div>
                            <div layout="row" layout-align="center center">
                                <div class="previous-year" layout="row" layout-align="center">
                                    <md-button ng-click="previousYearFinances(financesToShow)" aria-label="Details"
                                        class="md-icon-button interaction-button">
                                        <md-icon md-svg-src="images/icons/previous_24px.svg"></md-icon>
                                    </md-button>
                                </div>
                                <div class="show-year" layout="row" layout-align="center">
                                    <span>{{financesToShow.year}}</span>
                                </div>
                                <div class="next-year" layout="row" layout-align="center">
                                    <md-button ng-click="nextYearFinances(financesToShow)" aria-label="Details"
                                        class="md-icon-button interaction-button">
                                        <md-icon md-svg-src="images/icons/next_24px.svg"></md-icon>
                                    </md-button>
                                </div>
                            </div>
                            <div>
                                <ul>
                                    <li>Funds to be allocated:
                                        <md-input-container class="input-row smaller">
                                            <input ng-model="financesToShow.initial_amount"
                                                    name="moneyFuture"
                                                    positive-float-validate="1000000000">
                                        </md-input-container>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div flex layout="column" layout-gt-sm="row" layout-align="center center"
                            ng-if="financesToShow.year >= currentYear">
                            <md-button type="submit" class="button-small md-raised md-primary">Submit changes</md-button>
                            <div class="status-message" ng-hide="hideMessage[forms['finances']]">
                                <span class="message" ng-class="messageType[forms['finances']]">
                                    {{updateStatus[forms['finances']]}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </md-card-content>
</md-card>