<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Website personal photo</span>
        </md-card-title-text>
    </md-card-title>
    <form novalidate flex name="personPhotoForm[num]"
        ng-submit="personPhotoForm[num].$valid && vm.submitPersonPhoto(vm.forms['personPhoto'],vm.selectedIndex-2)">
        <md-card-content layout="column" flex>
            <div ng-if="vm.hasPhoto[vm.selectedIndex-2]"
                    layout="column" layout-gt-sm="row" layout-margin
                    layout-align="center center">
                <div>
                    <img class="personal-photo" ng-src="{{vm.thisPerson[vm.selectedIndex-2].pers_photo[0].image_path}}">
                </div>
                <div>
                    <md-button ng-click="vm.changePhotoAction(vm.selectedIndex-2)"
                        class="button-small md-raised md-primary">Change photo</md-button>
                </div>
            </div>
            <div ng-if="!vm.hasPhoto[vm.selectedIndex-2] || vm.changePhoto[vm.selectedIndex-2]">
                <p ng-if="vm.changePhoto[vm.selectedIndex-2]">To change image click below, then crop </p>
                <div class="dropzone-container">
                <!-- ngf-change="vm.initializeCrop()" -->
                <div type="file"
        	        name="imagePerson[vm.selectedIndex-2]"
                    ngf-drop
                    ngf-select
        	        ng-model="vm.imagePersonPre[vm.selectedIndex-2]"
                    ngf-pattern="'image/*'"
                    accept="image/*"
                    ngf-max-size="20MB"
                    class="dropzone dropzone-hover">
                    Drop image or click
                </div>
            </div>
                <div layout="column" layout-gt-sm="row">
                <div class="cropArea show-original">
                    <img hidden ngf-src="vm.imagePersonPre[vm.selectedIndex-2]"/>
                    <ui-cropper image="vm.imagePerson[vm.selectedIndex-2]"
                        area-type="rectangle"
                        area-min-size="10"
                        aspect-ratio="0.666666"
                        result-image="vm.imageTemp[vm.selectedIndex-2]"
                        result-image-format="{{vm.personImageType[vm.selectedIndex-2]}}"
                        url-blob="vm.imagePersonCropped[vm.selectedIndex-2]"
                        result-image-size="{w: 200,h: 300}">
                    </ui-cropper>
                </div>
                <div class="show-cropped" layout-padding layout-margin>
                    <img ng-src="{{vm.imagePersonCropped[vm.selectedIndex-2]}}" />
                </div>
            </div>
                <div layout="column" layout-gt-sm="row" layout-align="none center">
                <md-button type="submit"
                    class="button-small md-raised md-primary">Update</md-button>
                <div class="status-message" ng-hide="vm.hideMessage[vm.forms['personPhoto']]">
                    <span class="message" ng-class="vm.messageType[vm.forms['personPhoto']]">
                        {{vm.updateStatus[vm.forms['personPhoto']]}}
                    </span>
                </div>
            </div>
            </div>
        </md-card-content>
    </form>
</md-card>