<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Name and nuclear information</span>
        </md-card-title-text>
    </md-card-title>
    <form novalidate flex name="managerPersonNuclearInfoForm[num]"
        ng-submit="managerPersonNuclearInfoForm[num].$valid
        && vm.submitNuclearInfo(vm.forms['personNuclear'],vm.selectedIndex-2,vm.thisPerson[vm.selectedIndex-2])">
        <md-card-content layout="column" flex>
            <md-input-container>
                <label>Name</label>
                <input required ng-model="vm.thisPerson[vm.selectedIndex-2].name" name="name">
                <div ng-messages="managerPersonNuclearInfoForm[num].name.$error">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>
            <md-input-container>
                <label>Colloquial name</label>
                <input ng-model="vm.thisPerson[vm.selectedIndex-2].colloquial_name" name="colloquial_name">
            </md-input-container>
            <div layout="column" layout-gt-sm="row">
                <md-input-container class="input-row">
                    <label>Birth date</label>
                    <md-datepicker md-current-view="year" ng-model="vm.thisPerson[vm.selectedIndex-2].birth_date"
                        md-placeholder="Enter date"
                        name="vm.thisPerson[vm.selectedIndex-2].birth_date"></md-datepicker>
                </md-input-container>
                <md-input-container class="select-container input-row">
                    <label>Gender</label>
                    <md-select ng-model="vm.thisPerson[vm.selectedIndex-2].gender"
                            name="vm.thisPerson[vm.selectedIndex-2].gender">
                        <md-option value="F">Female</md-option>
                        <md-option value="M">Male</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container id="person-country"
                    class="search-box select-container input-row"
                    ng-controller="CountrySelectCtrl as count">
                    <label>Nationalities</label>
                    <md-select id="nationalities" ng-model="vm.selectedNationalities[vm.selectedIndex-2]"
                        ng-model-options="{trackBy: '$value.country_id'}" multiple>
                        <div class="anchored">
                            <md-select-header class="select-search-header">
                                <input ng-model="count.searchTerm" type="search"
                                  placeholder="Search your countries"
                                  class="md-text select-search-box">
                            </md-select-header>
                        </div>
                        <div class="scrollable">
                            <md-optgroup label="countries">
                                <md-option ng-repeat="country in count.countries | filter:count.searchTerm"
                                    ng-value="country">{{country.name}}</md-option>
                            </md-optgroup>
                        </div>
                    </md-select>
                </md-input-container>
            </div>
            <div layout="column" layout-gt-sm="row" layout-align="none center">
                <md-button type="submit"
                    class="button-small md-raised md-primary">Update</md-button>
                <div class="status-message" ng-hide="vm.hideMessage[vm.forms['personNuclear']]">
                    <span class="message" ng-class="vm.messageType[vm.forms['personNuclear']]">
                        {{vm.updateStatus[vm.forms['personNuclear']]}}
                    </span>
                </div>
            </div>
        </md-card-content>
    </form>
</md-card>
