<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Password reset</span>
        </md-card-title-text>
    </md-card-title>
    <form novalidate flex name="managerPasswordReset[num]"
        ng-submit="managerPasswordReset[num].$valid
        && vm.submitPasswordReset(vm.forms['personPasswordReset'],vm.selectedIndex-2,vm.thisPerson[vm.selectedIndex-2])">
        <md-card-content layout="column" flex>
            <md-input-container>
                <label>Password</label>
                <input type="password" ng-model="vm.thisPerson[vm.selectedIndex-2].password"
                    name="password" ng-minlength="8" required>
                <div ng-messages="managerPasswordReset.password.$error">
                    <div ng-message="minlength">Must be 8 characters or more.</div>
                </div>
            </md-input-container>
            <md-input-container>
                <label>Confirm Password</label>
                <input type="password" ng-model="vm.thisPerson[vm.selectedIndex-2].passwordConfirm"
                    name="passwordConfirm" required
                    change-password-validate="vm.thisPerson[vm.selectedIndex-2].password">
                <div ng-messages="managerPasswordReset.passwordConfirm.$error">
                    <div ng-message="changePasswordValidate">No match with previous.</div>
                </div>
            </md-input-container>
            <div layout="column" layout-gt-sm="row" layout-align="none center">
                <md-button type="submit"
                    class="button-small md-raised md-warn">Reset</md-button>
                <div class="status-message" ng-hide="vm.hideMessage[vm.forms['personPasswordReset']]">
                    <span class="message" ng-class="vm.messageType[vm.forms['personPasswordReset']]">
                        {{vm.updateStatus[vm.forms['personPasswordReset']]}}
                    </span>
                </div>
            </div>
        </md-card-content>
    </form>
</md-card>
