<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Administrative information</span>
        </md-card-title-text>
    </md-card-title>
    <form flex novalidate name="personAdministrativeInfoForm[num]"
        ng-submit="personAdministrativeInfoForm[num].$valid
        && vm.submitAdmInfo(vm.forms['personAdministrativeInfo'],vm.selectedIndex-2,vm.thisPerson[vm.selectedIndex-2])">
        <md-card-content layout="column" flex>
            <div layout="column" layout-gt-xs="row" class="spacer-top">
                <md-input-container>
                    <label>FCT association key</label>
                    <input required
                            ng-model="vm.thisPerson[vm.selectedIndex-2].administrative_data[0].association_key"
                            name="researcherID">
                </md-input-container>
                <md-input-container>
                    <label>Ciência ID</label>
                    <input required
                            ng-model="vm.thisPerson[vm.selectedIndex-2].administrative_data[0].ciencia_id"
                            name="cienciaID">
                </md-input-container>
            </div>
            <div layout="column" layout-gt-sm="row" layout-align="none center">
                <md-button type="submit"
                    class="button-small md-raised md-primary">Update</md-button>
                <div class="status-message" ng-hide="vm.hideMessage[vm.forms['personAdministrativeInfo']]">
                    <span class="message" ng-class="vm.messageType[vm.forms['personAdministrativeInfo']]">
                        {{vm.updateStatus[vm.forms['personAdministrativeInfo']]}}
                    </span>
                </div>
                <md-button ng-click="vm.deleteRole('administrative',vm.forms['personRmAdmRole'],vm.selectedIndex-2)"
                    class="button-small md-raised md-warn">Remove 'Administrative' role</md-button>
                <div class="status-message" ng-hide="vm.hideMessage[vm.forms['personRmAdmRole']]">
                    <span class="message" ng-class="vm.messageType[vm.forms['personRmAdmRole']]">
                        {{vm.updateStatus[vm.forms['personRmAdmRole']]}}
                    </span>
                </div>
            </div>
        </md-card-content>
    </form>
    <manager-person-affiliation-administrative></manager-person-affiliation-administrative>
</md-card>