<form flex novalidate name="personAffiliationManagerForm[num]"
        ng-submit="personAffiliationManagerForm[num].$valid
        && vm.submitAffiliationScMan(vm.forms['personAffiliationScMan'], vm.selectedIndex-2,vm.thisPerson[vm.selectedIndex-2])">
    <md-card-content layout="column" flex>
        <div ng-if="!vm.nothingToShow(vm.currentAffiliationsScMan[vm.selectedIndex-2],'sc_man_id')" layout="column">
            <div ng-repeat="(numOff,affLab) in vm.currentAffiliationsScMan[vm.selectedIndex-2] track by $index"
                layout="column">
                <fieldset class="spacer">
                    <div layout="column" layout-gt-xs="row">
                        <md-input-container
                            class="search-box select-container input-row">
                            <label>Office</label>
                            <md-select required ng-model="vm.currentAffiliationsScMan[vm.selectedIndex-2][numOff].sc_man_office_id"
                                    md-container-class="correct-overflow" name="affScMan_id[numOff]">
                                <md-option ng-repeat="office in vm.scienceManagementOffices"
                                    ng-value="office.id">{{office.name_en}}</md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container
                            class="search-box select-container input-row">
                            <label>Unit</label>
                            <md-select required ng-model="vm.currentAffiliationsScMan[vm.selectedIndex-2][numOff].sc_man_unit_id"
                                    md-container-class="correct-overflow" name="affScMan_id[numOff]">
                                <md-option ng-repeat="unit in vm.units"
                                    ng-value="unit.id">{{unit.short_name}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div layout="column" layout-gt-xs="row">
                        <md-input-container>
                            <label>Dedication (%)</label>
                            <input required ng-model="vm.currentAffiliationsScMan[vm.selectedIndex-2][numOff].sc_man_dedication"
                                    name="affScMan_dedication[numOff]" dedication-validate>
                        </md-input-container>
                        <md-input-container>
                            <label>Position</label>
                            <md-select ng-model="vm.currentAffiliationsScMan[vm.selectedIndex-2][numOff].sc_man_position_id"
                                    name="affScMan_position[numOff]">
                                <md-option ng-repeat="pos in vm.scienceManagementPositions" ng-value="pos.id">{{pos.name_en}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div layout="column" layout-gt-xs="row">
                        <md-input-container class="input-row-longer">
                            <label>Start</label>
                            <md-datepicker md-current-view="year" required ng-model="vm.currentAffiliationsScMan[vm.selectedIndex-2][numOff].sc_man_valid_from"
                                    name="affScMan_start[numOff]" md-placeholder="Enter date"></md-datepicker>
                        </md-input-container>
                        <md-input-container class="input-row-longer">
                            <label>End</label>
                            <md-datepicker md-current-view="year" ng-model="vm.currentAffiliationsScMan[vm.selectedIndex-2][numOff].sc_man_valid_until"
                                    name="affScMan_end[numOff]" md-placeholder="Enter date"></md-datepicker>
                        </md-input-container>
                        <div layout="row" layout-align="start center">
                            <md-button ng-click="vm.removeRows2(vm.currentAffiliationsScMan[vm.selectedIndex-2],numOff)"
                                    aria-label="Remove"
                                    class="md-icon-button interaction-button">
                                <md-icon md-svg-src="images/icons/remove_24px.svg"></md-icon>
                            </md-button>
                            <md-button ng-if="$last" ng-click="vm.addRows2(vm.currentAffiliationsScMan[vm.selectedIndex-2], 'affiliationsScMan')"
                                    aria-label="Add more" class="md-icon-button interaction-button">
                                <md-icon md-svg-src="images/icons/add_24px.svg"></md-icon>
                            </md-button>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <div ng-if="vm.nothingToShow(vm.currentAffiliationsScMan[vm.selectedIndex-2],'sc_man_id')" layout="column">
             No data, press + to add
            <md-button ng-click="vm.addRows2(vm.currentAffiliationsScMan[vm.selectedIndex-2], 'affiliationsScMan')"
                    aria-label="Add more" class="md-icon-button interaction-button">
                <md-icon md-svg-src="images/icons/add_24px.svg"></md-icon>
            </md-button>
        </div>
        <div layout="column" layout-gt-sm="row" layout-align="none center">
            <md-button type="submit"
                class="button-small md-raised md-primary">Update</md-button>
            <div class="status-message" ng-hide="vm.hideMessage[vm.forms['personAffiliationScMan']]">
                <span class="message" ng-class="vm.messageType[vm.forms['personAffiliationScMan']]">
                    {{vm.updateStatus[vm.forms['personAffiliationScMan']]}}
                </span>
            </div>
        </div>
    </md-card-content>
</form>