<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Technician information</span>
        </md-card-title-text>
    </md-card-title>
    <form flex novalidate name="personTechnicianInfoForm[num]"
        ng-submit="personTechnicianInfoForm[num].$valid
        && vm.submitTechnicianInfo(vm.forms['personTechInfo'],vm.selectedIndex-2,vm.thisPerson[vm.selectedIndex-2])">
        <md-card-content layout="column" flex>
            <div layout="column" layout-gt-xs="row" class="spacer-top">
                <md-input-container>
                    <label>FCT association key</label>
                    <input required
                            ng-model="vm.thisPerson[vm.selectedIndex-2].technician_data[0].association_key"
                            name="researcherID">
                </md-input-container>
                <md-input-container>
                    <label>Ciência ID</label>
                    <input required
                            ng-model="vm.thisPerson[vm.selectedIndex-2].technician_data[0].ciencia_id"
                            name="cienciaID">
                </md-input-container>
            </div>
            <div layout="column" layout-gt-xs="row" class="spacer-top">
                <md-input-container>
                    <label>ResearcherID</label>
                    <input ng-model="vm.thisPerson[vm.selectedIndex-2].technician_data[0].researcherID"
                            name="researcherID">
                </md-input-container>
                <md-input-container>
                    <label>Inst. Repository ID</label>
                    <input ng-model="vm.thisPerson[vm.selectedIndex-2].technician_data[0].pure_id" name="pureID">
                </md-input-container>
            </div>
            <div layout="column">
                <md-input-container>
                    <label>ORCID</label>
                    <input ng-model="vm.thisPerson[vm.selectedIndex-2].technician_data[0].ORCID"
                            name="ORCID">
                </md-input-container>

            </div>
            <div layout="column" layout-gt-sm="row" layout-align="none center">
                <md-button type="submit"
                    class="button-small md-raised md-primary">Update</md-button>
                <div class="status-message" ng-hide="vm.hideMessage[vm.forms['personTechInfo']]">
                    <span class="message" ng-class="vm.messageType[vm.forms['personTechInfo']]">
                        {{vm.updateStatus[vm.forms['personTechInfo']]}}
                    </span>
                </div>
                <md-button ng-click="vm.deleteRole('technician',vm.forms['personRmTechnicianRole'],vm.selectedIndex-2)"
                    class="button-small md-raised md-warn">Remove 'Technician' role</md-button>
                <div class="status-message" ng-hide="vm.hideMessage[vm.forms['personRmTechnicianRole']]">
                    <span class="message" ng-class="vm.messageType[vm.forms['personRmTechnicianRole']]">
                        {{vm.updateStatus[vm.forms['personRmTechnicianRole']]}}
                    </span>
                </div>
            </div>
        </md-card-content>
    </form>
    <manager-person-affiliation-technician></manager-person-affiliation-technician>
</md-card>