<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Patents</span>
            <span class="md-subhead">Search first to check if patent is already in database.</span>
        </md-card-title-text>
    </md-card-title>
    <form novalidate flex name="patentsForm"
        ng-submit="patentsForm.$valid && vm.submitPatents(vm.forms['personPatents'])">
        <md-card-content layout="column" flex>
            <div layout="row" layout-align="none center" flex>
                <ng-md-icon icon="search" size="24"></ng-md-icon>
                <md-input-container flex>
                    <label>Search patent titles</label>
                    <input ng-model="vm.searchPatent" ng-change="vm.renderPatents()">
                </md-input-container>
            </div>
            <ul>
                 <li ng-repeat="patent in vm.patentsToShow">
                    {{patent.authors_raw}} - <b>{{patent.title}}</b>
                    <md-button ng-click="vm.addPatentSearch(patent)"
                            aria-label="Add more" class="md-icon-button interaction-button">
                            <md-icon md-svg-src="images/icons/add_24px.svg"></md-icon>
                    </md-button>
                </li>
            </ul>
            <div ng-if="!vm.nothingToShow(vm.currentPatents,'id')" layout="column">
                <div ng-repeat="(num,patent) in vm.currentPatents track by $index"
                    layout="column">
                    <fieldset class="spacer">
                        <div layout="column" layout-gt-sm="row">
                            <md-input-container>
                                <label>Patent type</label>
                                <md-select ng-model="patent.patent_type_id" name="patent_type[num]">
                                   <md-option ng-repeat="type in vm.patentTypes"
                                        ng-value="type.id">{{type.name_en}}</md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container>
                                <label>Status</label>
                                <md-select ng-model="patent.patent_status_id" name="patent_status[num]">
                                   <md-option ng-repeat="type in vm.patentStatus"
                                        ng-value="type.id">{{type.name_en}}</md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container class="input-row-longer">
                                <label>Date submission</label>
                                <md-datepicker md-current-view="year"
                                        ng-model="patent.status_date"
                                        name="patent_date[num]" md-placeholder="Enter date"></md-datepicker>
                            </md-input-container>
                        </div>
                        <div layout="column">
                            <md-input-container>
                                <label>Authors (all, text)</label>
                                <input required ng-model="patent.authors_raw"
                                        name="patent_authors[num]">
                            </md-input-container>
                            <md-input-container
                                ng-controller="PeopleSelectCtrl as peop">
                                <label>From which these are LAQV/UCIBIO: </label>
                                <md-select ng-model="patent.person_id" multiple
                                        md-on-close="peop.searchTerm=''"
                                        name="patent_units_authors[num]">
                                    <div class="anchored">
                                        <md-select-header class="select-search-header">
                                            <input ng-model="peop.searchTerm" type="search"
                                              placeholder="Search authors"
                                              class="md-text select-search-box">
                                        </md-select-header>
                                    </div>
                                    <div class="scrollable">
                                        <md-optgroup label="people">
                                            <md-option ng-repeat="person in peop.people | filter:peop.searchTerm"
                                                ng-value="person.id">{{person.colloquial_name}}</md-option>
                                        </md-optgroup>
                                    </div>
                                </md-select>
                            </md-input-container>
                            <md-input-container>
                                <label>Patent title</label>
                                <input required ng-model="patent.title"
                                        name="patent_title[num]">
                            </md-input-container>
                        </div>
                        <div layout="column" layout-gt-sm="row">
                            <md-input-container>
                                <label>Patent Reference</label>
                                <input ng-model="patent.reference1"
                                        name="patent_ref1[num]">
                            </md-input-container>
                        </div>
                        <div layout="column">
                            <md-input-container  class="md-block">
                                <label>Description</label>
                                <textarea ng-model="patent.description"
                                        md-maxlength="1000" rows="2"
                                        name="patent_description[num]"></textarea>
                            </md-input-container>
                            <div layout="row" layout-align="end center">
                                <md-button ng-click="vm.removeRows(vm.currentPatents,$index)"
                                        aria-label="Remove"
                                        class="md-icon-button interaction-button">
                                    <md-icon md-svg-src="images/icons/remove_24px.svg"></md-icon>
                                </md-button>
                                <md-button ng-if="$last" ng-click="vm.addRows(vm.currentPatents, 'patents')"
                                        aria-label="Add more" class="md-icon-button interaction-button">
                                    <md-icon md-svg-src="images/icons/add_24px.svg"></md-icon>
                                </md-button>
                            </div>
                        </div>

                    </fieldset>
                </div>
            </div>
            <div ng-if="vm.nothingToShow(vm.currentPatents,'id')" layout="column">
                 No data, press + to add
                <md-button ng-click="vm.addRows(vm.currentPatents, 'patents')"
                        aria-label="Add more" class="md-icon-button interaction-button">
                    <md-icon md-svg-src="images/icons/add_24px.svg"></md-icon>
                </md-button>
            </div>
            <div layout="column" layout-gt-sm="row" layout-align="none center">
                <md-button type="submit"
                    class="button-small md-raised md-primary">Update</md-button>
                <div class="status-message" ng-hide="vm.hideMessage[vm.forms['personPatents']]">
                    <span class="message" ng-class="vm.messageType[vm.forms['personPatents']]">
                        {{vm.updateStatus[vm.forms['personPatents']]}}
                    </span>
                </div>
            </div>
        </md-card-content>
    </form>
</md-card>
