<div layout="row">
    <div ng-if="!vm.showUserOrders" layout="column" flex>
        <md-content class='md-padding' flex>
            Make sure you have the appropriate permissions to access this page.
        </md-content>
    </div>
    <div ng-if="vm.showUserOrders" layout="column" flex>
        <!--<div class="admin-message" ng-if="vm.adminMessage" layout-align layout="column">
            <div class="my-toast my-button" ng-click="vm.deleteAdminMessages()" layout="column">
                <div layout="row"><span>Hide all warnings</span><span class="bold">X</span></div>
            </div>
            <div class="my-toast" ng-repeat="message in vm.listAdminMessages" layout="column">
                <span class="sender-identification">({{message.time}}) Admin says:</span>
                <span class="sender-message">{{message.msg}}</span>
            </div>
        </div>
        -->
        <toolbar-row></toolbar-row>
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Orders">
                <md-content>                  
                    <internal-order-inventory 
                        data-user="{{vm.currentUser.userID}}"
                        data-account="{{vm.currentUser.accountID}}"
                        data-inventory="vm.inventory"
                        data-orders="vm.orders"
                        flex>
                    </internal-order-inventory>
                </md-content>
            </md-tab>
            <md-tab label="Stock">
            </md-tab>
            <md-tab label="Financial">
            </md-tab>
        </md-tabs>
    </div>
</div>