<div layout="row">
    <div ng-if="!vm.showUserOrders" layout="column" flex>
        <md-content class='md-padding' flex>
            Make sure you have the appropriate permissions to access this page.
        </md-content>
    </div>
    <div ng-if="vm.showUserOrders" layout="column" flex>
        <toolbar-row></toolbar-row>
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Orders">
                <md-content>                  
                    <internal-order-inventory 
                        data-user="{{vm.currentUser.userID}}"
                        data-account="{{vm.currentUser.accountID}}"
                        data-inventory="vm.inventory"
                        data-orders="vm.orders"
                        data-finaccount="vm.account"
                        flex>
                    </internal-order-inventory>
                </md-content>
            </md-tab>
            <md-tab label="Stock">
            </md-tab>
            <md-tab label="Financial">
            </md-tab>
        </md-tabs>
    </div>
</div>