<div layout="row">
    <div ng-if="vm.currentUser === null || !(vm.showUserOrders || vm.showStock || vm.showFinancial)" 
            layout="column" flex>
        <md-content class='md-padding' flex>
            Make sure you have the appropriate permissions to access this page.
        </md-content>
    </div>
    <div ng-if="vm.currentUser !== null && (vm.showUserOrders || vm.showStock || vm.showFinancial)" layout="column" flex>
        <toolbar-row></toolbar-row>
        <md-tabs md-dynamic-height md-border-bottom md-selected="vm.tab_level_1">
            <md-tab label="My orders" ng-if="vm.showUserOrders">
                <md-content>
                    <internal-order-inventory 
                        data-user="{{vm.currentUser.userID}}"
                        data-account="{{vm.currentUser.accountID}}"
                        data-inventory="vm.inventory"
                        data-orders="vm.orders"
                        data-finaccount="vm.account"
                        flex>
                    </internal-order-inventory>
                </md-content>
            </md-tab>
            <md-tab label="Management" 
                    ng-if="vm.showStock || vm.showFinancial">
                <md-tabs md-dynamic-height md-border-bottom  md-selected="vm.tab_level_2">
                    <md-tab label="Stock" ng-if="vm.showStock">
                        <md-content>
                            <inventory-management 
                                data-user="{{vm.currentUser.userID}}"
                                data-inventory="vm.managersInventory"
                                flex>
                            </inventory-management>
                        </md-content>
                    </md-tab>
                    <md-tab label="Orders" ng-if="vm.showStock">
                        <md-content>
                            <orders-management 
                                data-user="{{vm.currentUser.userID}}"
                                data-orders="vm.managersOrders"
                                flex>
                            </orders-management>
                        </md-content>
                    </md-tab>
                    <md-tab label="Users" ng-if="vm.showStock">
                        <md-content>
                            <order-users-management
                                data-user="{{vm.currentUser.userID}}"
                                data-usersorders="vm.managersUsersOrders"
                                flex>
                            </order-users-management>
                        </md-content>
                    </md-tab>
                    <md-tab label="Financial" ng-if="vm.showFinancial">
                        <md-content>
                            <div layout-xs="column" layout-sm="column" layout-md="column" layout-gt-md="row" layout-padding>
                                <div flex-xs flex-sm flex-md flex-gt-md="50" layout="column">
                                    <order-financial-monitoring
                                        data-user="{{vm.currentUser.userID}}"                                
                                        flex>
                                    </order-financial-monitoring>
                                </div>
                                <div flex-xs flex-sm flex-md flex-gt-md="50" layout="column">
                                    <order-financial-structure 
                                        data-user="{{vm.currentUser.userID}}" 
                                        flex>
                                    </order-financial-structure>
                                </div>
                            </div>                            
                        </md-content>
                    </md-tab>
                </md-tabs>                
            </md-tab>
        </md-tabs>
    </div>
</div>