<div layout="row">
    <navigation-column></navigation-column>
    <div ng-if="!vm.accessPermission" layout="column" flex>
        <md-content class='md-padding' flex>
            Make sure you have the appropriate permissions to access this page.
        </md-content>
    </div>
    <div ng-if="vm.accessPermission" layout="column" flex>
        <toolbar-row></toolbar-row>
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab ng-if="vm.show('labs')" ng-repeat="lab in vm.personLab"
                    label="{{lab.lab | limitTo : 10}}...@{{lab.group_name | limitTo : 10}}...">
                <md-content>
                    <div layout="row" layout-padding>
                        <team-people-lab-presentation
                            data-lab="{{lab.lab_id}}"
                            data-group="{{lab.group_id}}"
                            flex>
                        </team-people-lab-presentation>
                    </div>
                </md-content>
            </md-tab>
            <md-tab ng-if="vm.show('labs')" ng-repeat="lab in vm.personLab"
                    label="Prod. {{ lab.lab | limitTo : 10 }}...@{{lab.group_name | limitTo : 10}}...">
                <md-tabs md-selected="vm.selectedIndexPublications" md-dynamic-height md-border-bottom>
                    <md-tab label='Publications'>
                        <md-content>
                            <div layout="row" layout-padding>
                                <team-lab-publications
                                    data-lab="{{lab.lab_id}}"
                                    data-group="{{lab.group_id}}"
                                    flex>
                                </team-lab-publications>
                            </div>
                            <div layout="row" layout-padding>
                                <team-members-publications
                                    data-lab="{{lab.lab_id}}"
                                    data-group="{{lab.group_id}}"
                                    flex>
                                </team-members-publications>
                            </div>
                        </md-content>
                    </md-tab>
                    <md-tab label='Communications'>
                        <md-content>
                            <div layout="row" layout-padding>
                                <team-lab-communications
                                    data-lab="{{lab.lab_id}}"
                                    data-group="{{lab.group_id}}"
                                    flex>
                                </team-lab-communications>
                            </div>
                            <div layout="row" layout-padding>
                                <team-members-communications
                                    data-lab="{{lab.lab_id}}"
                                    data-group="{{lab.group_id}}"
                                flex>
                                </team-members-communications>
                            </div>
                        </md-content>
                    </md-tab>
                    <md-tab label='Funding'>
                        <md-content>
                            <div layout="row" layout-padding>
                                <team-lab-projects
                                    data-lab="{{lab.lab_id}}"
                                    data-group="{{lab.group_id}}"
                                    flex>
                                </team-lab-projects>
                            </div>
                            <div layout="row" layout-padding>
                                <team-members-projects
                                    data-lab="{{lab.lab_id}}"
                                    data-group="{{lab.group_id}}"
                                flex>
                                </team-members-projects>
                            </div>
                        </md-content>
                    </md-tab>
                    <md-tab label='Patents'>
                        <md-content>
                            <div layout="row" layout-padding>
                                <team-lab-patents
                                    data-lab="{{lab.lab_id}}"
                                    data-group="{{lab.group_id}}"
                                    flex>
                                </team-lab-patents>
                            </div>
                            <div layout="row" layout-padding>
                                <team-members-patents
                                    data-lab="{{lab.lab_id}}"
                                    data-group="{{lab.group_id}}"
                                flex>
                                </team-members-patents>
                            </div>
                        </md-content>
                    </md-tab>
                    <md-tab label='Prizes'>
                        <md-content>
                            <div layout="row" layout-padding>
                                <team-lab-prizes
                                    data-lab="{{lab.lab_id}}"
                                    data-group="{{lab.group_id}}"
                                    flex>
                                </team-lab-prizes>
                            </div>
                            <div layout="row" layout-padding>
                                <team-members-prizes
                                    data-lab="{{lab.lab_id}}"
                                    data-group="{{lab.group_id}}"
                                flex>
                                </team-members-prizes>
                            </div>
                        </md-content>
                    </md-tab>
                    <md-tab label='Startups'>
                        <md-content>
                            <div layout="row" layout-padding>
                                <team-lab-startups
                                    data-lab="{{lab.lab_id}}"
                                    data-group="{{lab.group_id}}"
                                    flex>
                                </team-lab-startups>
                            </div>
                            <div layout="row" layout-padding>
                                <team-members-startups
                                    data-lab="{{lab.lab_id}}"
                                    data-group="{{lab.group_id}}"
                                flex>
                                </team-members-startups>
                            </div>
                        </md-content>
                    </md-tab>
                    <md-tab label='Boards'>
                        <md-content>
                            <div layout="row" layout-padding>
                                <team-lab-boards
                                    data-lab="{{lab.lab_id}}"
                                    data-group="{{lab.group_id}}"
                                    flex>
                                </team-lab-boards>
                            </div>
                            <div layout="row" layout-padding>
                                <team-members-boards
                                    data-lab="{{lab.lab_id}}"
                                    data-group="{{lab.group_id}}"
                                flex>
                                </team-members-boards>
                            </div>
                        </md-content>
                    </md-tab>
                    <md-tab label='Datasets'>
                        <md-content>
                            <div layout="row" layout-padding>
                                <team-lab-datasets
                                    data-lab="{{lab.lab_id}}"
                                    data-group="{{lab.group_id}}"
                                    flex>
                                </team-lab-datasets>
                            </div>
                            <div layout="row" layout-padding>
                                <team-members-datasets
                                    data-lab="{{lab.lab_id}}"
                                    data-group="{{lab.group_id}}"
                                flex>
                                </team-members-datasets>
                            </div>
                        </md-content>
                    </md-tab>
                    <md-tab label='Outreach'>
                        <md-content>
                            <div layout="row" layout-padding>
                                <team-lab-outreaches
                                    data-lab="{{lab.lab_id}}"
                                    data-group="{{lab.group_id}}"
                                    flex>
                                </team-lab-outreaches>
                            </div>
                            <div layout="row" layout-padding>
                                <team-members-outreaches
                                    data-lab="{{lab.lab_id}}"
                                    data-group="{{lab.group_id}}"
                                flex>
                                </team-members-outreaches>
                            </div>
                        </md-content>
                    </md-tab>
                </md-tabs>
            </md-tab>
            <md-tab ng-if="vm.show('techOffices')" ng-repeat="office in vm.personTech"
                    label={{office.tech_office_name_en}}>
                <md-content>
                    <div layout="row" layout-padding>
                        <team-people-tech-office-presentation data-office="{{office.tech_office_id}}" flex>
                        </team-people-tech-office-presentation>
                    </div>
                </md-content>
            </md-tab>
            <md-tab ng-if="vm.show('scManOffices')" ng-repeat="office in vm.personScMan"
                    label={{office.sc_man_office_name_en}}>
                <md-content>
                    <div layout="row" layout-padding>
                        <team-people-sc-man-office-presentation data-office="{{office.sc_man_office_id}}" flex>
                        </team-people-sc-man-office-presentation>
                    </div>
                </md-content>
            </md-tab>
            <md-tab ng-if="vm.show('admOffices')" ng-repeat="office in vm.personAdm"
                    label={{office.adm_office_name_en}}>
                <md-content>
                    <div layout="row" layout-padding>
                        <team-people-adm-office-presentation data-office="{{office.adm_office_id}}" flex>
                        </team-people-adm-office-presentation>
                    </div>
                </md-content>
            </md-tab>
            <!--
            <md-tab label='Spaces'>
                <md-content>
                    <div layout="row" layout-padding>

                    </div>
                </md-content>
            </md-tab>
            -->
            <md-tab label="Pre-register">
                <md-content>
                    <team-pre-register-member></team-pre-register-member>
                </md-content>
            </md-tab>
        </md-tabs>
    </div>
</div>