body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* Added by JB */

.layout-column>.flex {
  min-height: initial !important;
}

.site-sidenav, .site-sidenav.md-locked-open-add-active, .site-sidenav.md-locked-open {
  width: 272px;
  min-width: 272px;
  max-width: 272px;
}

.input-no-margin, .input-no-margin-larger{
  margin-top: 1px;
  margin-bottom: 0px;
}

.input-no-margin.simple-input .md-input {
  height: 16px;
  width: 50px;
}

.input-no-margin-larger.simple-input .md-input {
  height: 16px;
  width: 50px;
}

.simple-input {
  margin-top: 5px;
}

.input-compact {
  margin-top: 1px;
  margin-bottom: 0px;
  padding-bottom: 5px;
  width: 100%;
}

.input-no-margin .md-input{
  line-height: 16px;
  height: 16px;
  max-width: 100px;
}

.input-no-margin-larger .md-input{
  line-height: 16px;
  height: 16px;
  max-width: 150px;
}

.materialize-table {
  border-spacing: 0;
}

.materialize-table th {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-block-color: rgba(0,0,0,.12);
  padding-left: 10px;
  padding-right: 10px;
}

.materialize-table td {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-block-color: rgba(0,0,0,.12);
  padding-left: 10px;
  padding-right: 10px;
}

button.smaller-button {
  min-height: 19px;
  height: 19px;
  line-height: 16px;
  min-width: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
}

md-icon.smaller-icon {
  width: 18px;
  height: 18px;
  min-width: 18px;
  min-height: 18px;
}

.smaller-icon svg {
  width: 18px;
  height: 18px;
}

.input-no-margin .md-button.md-icon-button {
  margin-top: 5px;
  padding-top: 0px;
}

.input-no-margin.simple-input.extra-small{
  height: 16px;
  width: 30px;
}

.input-no-margin.simple-input.extra-small input {
  width: 30px;
}

.input-row.smaller {
  width: 60px;
}

.email-button {
  max-height: 20px;
  margin-left: 20px !important;
}

.input-no-margin .md-datepicker-triangle-button.md-icon-button.md-button {
  margin-top: 0px;
  padding-top: 0px;
  top: -10px;
}

.select-no-margin {
  margin-top: 0px;
  margin-bottom: 0px;
}


.select-no-margin md-select-value{
  padding: 0px;
  min-height: 0px;
}


.select-no-margin .md-input{
  line-height: 16px;
  height: 16px;
  max-width: 100px;
}

.select-no-margin .md-button.md-icon-button {
  margin-top: 0px;
  padding-top: 0px;
  top: 0px;
}

.large-screens .question {
  width: 10%;
  float: left;
  margin-right: 2%;
}

.large-screens .answer {
  width: 88%;
  float: left;
}


.question {
  width: 25%;
  float: left;
  margin-right: 2%;
}

.question .highlight {
  font-weight: bold;
}

.answer {
  width: 73%;
  float: left;
}

button.s48 {
  width: 96px;
  height: 96px;
}

.spreadsheet-text {
  font-size: 16px;
  font-weight: bold;
}

.s48 {
  width: 48px;
  height: 48px;
}

.small-screens md-divider  {
  margin-bottom: 10px;
}

.select-container {
  max-width: 250px;
}

.card-type {
  width: 150px;
}

.select-substitute {
  height: 50px;
  overflow: auto;
}
.select-substitute md-checkbox {
  margin-right: 0;
  margin-bottom: 2px;
}

.select-search-box {
  border: none;
  outline: none;
  height: 100%;
  width: 100%;
  padding: 0;
}

md-select-menu ._md .scrollable{
  max-height: 208px;
}

.select-search-header {
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
  padding-left: 10.667px;
  height: 48px;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  width: auto; }

.input-row {
  margin-right: 10px;
}

.input-row-longer {
  margin-right: 10px;
  max-width: 200px;
}

.button-small {
  max-width: 200px;
}

td .tighter.md-button.md-icon-button {
  margin-left:2px;
  margin-right:2px;
  padding-left:2px;
  padding-right:2px;
}
/*
.interaction-button {
  margin-top: 10px !important;
}
*/
.vertical-space {
  margin-bottom: 10px;
}

.md-errors-spacer {
  min-height: 0 !important;
}

.message {
  /*transition: all linear 1.0s;*/
  color: blue;
}

.message.message-updating {
  color: blue;
}

.message.message-success {
  color: green;
  /*opacity: 0;*/
}

.message.message-error {
  color: red;
}

.spacer {
  margin-bottom: 5px;
}

.spacer-top {
  margin-top: 20px;
}

.spacer-bottom {
  margin-bottom: 20px;
}

.spacer-top-smaller {
  margin-top: 7px;
  margin-right: 10px;
}


.small-text {
  font-size: 12px;
}

.passwordBtn {
  background-color: rgb(150,0,0) !important;
  color: rgb(255,255,255) !important;
}

.paginator {
  margin-top: 20px;
}

.paginator .wider {
  width: 80px;
  margin-right: 20px;
}

.large-optgroup > label {
  font-weight: bold;
  font-size: 20px;
}

.larger-column {
  width: 65px;
}

.space-left {
  padding-left: 8px;
}

.publications {
  table-layout: fixed;
  width: 100%;
}

.publications .large-contents-wide {
  width: 40%;
}

.publications .large-contents-narrow {
  width: 25%;
}

.publications .standard-width {
  width: 15%;
}

.publications .small-width {
  width: 10%;
}

.small-screens .answer.align-publication md-checkbox {
  margin-bottom: 0px;
}

.publication.small-screens .answer textarea,
.publication.small-screens .answer md-input-container {
  margin-bottom: 0px;
  margin-top: 0px;
}

.publications .smaller-width {
  width: 5%;
}

.publications-add-db .large-contents-wide {
  width: 35%;
}

.publications-add-db .large-contents-narrow {
  width: 25%;
}

.publications-add-db .standard-width {
  width: 15%;
}

.publications-add-db .small-width {
  width: 10%;
}

.publications-add-db .smaller-width {
  width: 5%;
}

.publications-orcid md-input-container.area {
  margin-bottom: 0px;
  margin-top: 0px;
}

.publications-orcid md-input-container textarea {
  width: 100%;
}

.publications-orcid .large-contents-wide {
  width: 30%;
}

.publications-orcid .large-contents-narrow {
  width: 20%;
}

.publications-orcid .standard-width {
  width: 15%;
}

.publications-orcid .small-width {
  width: 10%;
}

.publications-orcid .smaller-width {
  width: 5%;
}

.publication-details {
  width: 50%;
}

.center-tick {
  align-items: center;
  margin-bottom: 0px;
  margin-left:10% !important;
}

.publications tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

.publication-spacer {
  margin-bottom: 5px;
}

.publication-spacer:nth-child(even) {
  background-color: #f5f5f5;
}

.search-header {
  background-color: #eeeeee;
  height: 30px;
}

.search-header span {
  font-size: 20px;
  font-weight: bold;
}

.small-top {
  margin-top: 5px;
}

.small-top {
  margin-bottom: 5px;
}

.dropzone-container {
  margin-bottom: 20px;
}

.dropzone {
  background: #f8f8f8;
  border: 5px dashed #dddddd;
  width: 170px;
  height: 30px;
  text-align: center;
  padding: 40px 10px;
}

.dropzone.dragover {
  border: 5px dashed #0000ff;
}

.cropArea {
  background: #E4E4E4;
  overflow: hidden;
  width:100%;
  height:350px;
}

.personal-photo {
  height: 300;
  width: 200;
}

.help {
  height: auto;
  width: 70%;
}

.help.small {
  height: auto;
  width: 50%;
}

.help.svg {
  height: auto;
  max-width: 634px;
  min-width: 300px;
}

.help.smaller {
  height: auto;
  width: 10%;
}

ul.help-list li{
  margin-bottom: 10px;
}

.warning {
  color: red;
}

.white-icon svg{
  fill: #ffffff;
}

.nav-highlights {
  background-color: rgb(253,253,253);
}

.nav-highlights ul{
  margin-left: 10px;
}

.bind {
  border: 1px solid black;
}

.no-margin-bottom {
  margin-bottom: 0px;
}

.wide {
  width: 100%;
}

.admin-message {
  position: fixed;
  top: 100px;
  right: 20px;
  z-index: 1000;
}

.admin-message .my-toast{
  width: 300px;
  max-width: 300px;
  height: auto;
  margin-bottom: 20px;
  color: white;
  background-color: black;
  padding: 10px;
}

.my-toast.my-button {
  cursor: pointer;
}

.my-toast .bold {
  font-weight: bold;
  margin-left: 20px;
}

.my-toast .sender-identification {
  font-size: 10px;
}

.my-toast .sender-message {
  font-size: 16px;
}

.title-chart {
  font-weight: bold;
  font-size: 16px;
}

.documents {
  width: 33%;
  float: left;
}


.documents .document-list-header span{
  font-weight: bold;
  font-size: 18px;
  color: blue;
}

.documents .document-list-data h3 {
  font-weight: bold;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #000000;
}

.documents .document-list-data h4 {
  font-weight: normal;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #333333;
}

.documents .document-list-data .dates {
  font-weight: normal;
  font-size: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #999999;
}

.radio-margin {
  margin-left: 15px;
}


.darker {
  background-color: #E4E4E4;
}

.snippet {
  font-size: 13px;
  border: #000000 solid 1px;
  width: 300px;
  margin-bottom: 15px;
}

.snippet p {
  margin-left: 10px;
  margin-bottom: 0px;
  font-weight: bold;
}