<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Pole</span>
        </md-card-title-text>
    </md-card-title>
    <form flex novalidate name="validatePoleForm[num]"
        ng-submit="validatePoleForm[num].$valid
        && vm.submitPoleInfo(vm.forms['validatePole'], vm.selectedIndexValidate-1,vm.thisPersonValidate[vm.selectedIndexValidate-1],true)">
        <md-card-content layout="row" flex>
            <md-input-container>
                <md-select ng-model="vm.thisPersonValidate[vm.selectedIndexValidate-1].institution_city_id"
                            name="city_id">
                    <md-option ng-repeat="city in vm.institutionCities"
                        ng-value="city.id">{{city.city}}</md-option>
                </md-select>
            </md-input-container>
            <div layout="column" layout-gt-sm="row" layout-align="none center">
                <md-button type="submit"
                    class="button-small md-raised md-primary">Update</md-button>
                <div class="status-message" ng-hide="vm.hideMessage[vm.forms['validatePole']]">
                    <span class="message" ng-class="vm.messageType[vm.forms['validatePole']]">
                        {{vm.updateStatus[vm.forms['validatePole']]}}
                    </span>
                </div>
            </div>
        </md-card-content>
    </form>
</md-card>
