<div layout="row">
    <navigation-column></navigation-column>
    <div ng-if="!vm.isLoggedIn" layout="column" flex>
        <md-content class='md-padding' flex>
            Please log in first
        </md-content>
    </div>
    <div ng-if="vm.isLoggedIn" layout="column" flex>
        <toolbar-row></toolbar-row>
        <md-tabs md-dynamic-height md-border-bottom md-selected="vm.selectedTab">
            <md-tab label='Personal'>
                <md-content>
                    <div layout-xs="column" layout="row" layout-padding>
                        <div flex-xs flex-gt-xs="50" layout="column">
                            <person-nuclear-info></person-nuclear-info>
                            <person-contact-info></person-contact-info>
                            <person-urls></person-urls>
                        </div>
                         <div flex-xs flex-gt-xs="50" layout="column">
                            <person-website-photo></person-website-photo>
                            <person-identifications-info></person-identifications-info>
                            <person-emergency-contacts></person-emergency-contacts>
                        </div>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label='Academic'>
                <md-content>
                    <div layout-xs="column" layout="row" layout-padding>
                        <div flex-xs flex-gt-xs="50" layout="column">
                            <person-finished-degrees></person-finished-degrees>
                        </div>
                        <div flex-xs flex-gt-xs="50" layout="column">
                            <person-ongoing-degrees></person-ongoing-degrees>
                        </div>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label='Institutional'>
                <md-content>
                    <div layout-xs="column" layout="row" layout-padding>
                        <div flex-xs flex-gt-xs="50" layout="column">
                            <person-institutional-contacts></person-institutional-contacts>
                            <person-affiliation-department></person-affiliation-department>
                        </div>
                        <div flex-xs flex-gt-xs="50" layout="column">
                            <person-poles></person-poles>
                            <person-roles></person-roles>
                        </div>
                    </div>
                </md-content>
            </md-tab>
            <md-tab ng-repeat='role in vm.currentRoles | orderBy:"role_id"'
                    label='{{role.name_en}}'
                    class="darker-tab">
                <md-content>
                    <div ng-if="role.name_en == 'Scientific'">
                        <div layout-xs="column" layout="row" layout-padding>
                            <div flex-xs flex-gt-xs="50" layout="column">
                                <person-researcher-info></person-researcher-info>
                                <person-research-interests></person-research-interests>
                                <person-cost-center ng-if="vm.isPorto()"></person-cost-center>
                            </div>
                            <div flex-xs flex-gt-xs="50" layout="column">
                                <person-affiliation-lab></person-affiliation-lab>
                                <person-author-names></person-author-names>
                            </div>
                        </div>
                    </div>
                    <div ng-if="role.name_en == 'Technical'">
                        <div layout-xs="column" layout="row" layout-padding>
                            <div flex-xs flex-gt-xs="50" layout="column">
                                <person-technician-info></person-technician-info>
                            </div>
                            <div flex-xs flex-gt-xs="50" layout="column">
                                <person-technician-affiliation></person-technician-affiliation>
                                <person-author-names></person-author-names>
                            </div>
                        </div>
                    </div>
                    <div ng-if="role.name_en == 'Science management'">
                        <div layout-xs="column" layout="row" layout-padding>
                            <div flex-xs flex-gt-xs="50" layout="column">
                                <person-sc-manager-info></person-sc-manager-info>
                            </div>
                            <div flex-xs flex-gt-xs="50" layout="column">
                                <person-sc-manager-affiliation></person-sc-manager-affiliation>
                            </div>
                        </div>
                    </div>
                    <div ng-if="role.name_en == 'Administrative'">
                        <div layout-xs="column" layout="row" layout-padding>
                            <div flex-xs flex-gt-xs="50" layout="column">
                                <person-adm-info></person-adm-info>
                            </div>
                            <div flex-xs flex-gt-xs="50" layout="column">
                                <person-adm-affiliation></person-adm-affiliation>
                            </div>
                        </div>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label='Professional'>
                <md-content>
                    <div layout-xs="column" layout="row" layout-padding>
                        <div flex-xs flex-gt-xs="50" layout="column">
                            <person-professional></person-professional>
                        </div>
                        <div flex-xs flex-gt-xs="50" layout="column">
                            <person-responsible></person-responsible>
                        </div>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label='Productivity'>
                <md-tabs md-selected="vm.selectedIndexPublications" md-dynamic-height md-border-bottom>
                    <md-tab label='List Pub.'>
                        <md-content>
                            <div layout="row" layout-padding>
                                <person-publications></person-publications>
                            </div>
                        </md-content>
                    </md-tab>
                    <md-tab ng-repeat="(num,title) in vm.pubTitles" label='{{title | limitTo: 20}}...'>
                        <md-content>
                            <div layout="row" layout-padding flex="100">
                                <person-publication-detail flex></person-publication-detail>
                            </div>
                        </md-content>
                    </md-tab>
                    <md-tab label='Add Pub.' md-on-select="vm.getAllPublications()">
                        <md-content>
                            <div layout-padding>
                                <person-add-publications></person-add-publications>
                                <person-add-publications-orcid></person-add-publications-orcid>
                            </div>
                        </md-content>
                    </md-tab>
                    <md-tab label='Communications' md-on-select="">
                        <md-content>
                            <div layout-padding>
                                <person-communications></person-communications>
                                <person-add-communications></person-add-communications>
                                <person-add-communications-orcid></person-add-communications-orcid>
                            </div>
                        </md-content>
                    </md-tab>
                    <md-tab label='Projects' md-on-select="">
                        <md-content>
                            <div layout-padding>
                                Under Construction

                            </div>
                        </md-content>
                    </md-tab>
                    <md-tab label='Other' md-on-select="">
                        <md-content>
                            <div layout-xs="column" layout="row" layout-padding>
                                <div flex-xs flex-gt-xs="50" layout="column">
                                    <person-patents></person-patents>
                                    <person-datasets></person-datasets>
                                    <person-startups></person-startups>

                                </div>
                                <div flex-xs flex-gt-xs="50" layout="column">
                                    <person-prizes></person-prizes>
                                    <person-boards></person-boards>
                                    <person-outreach></person-outreach>
                                </div>
                            </div>
                        </md-content>
                    </md-tab>
                </md-tabs>
            </md-tab>
            <!--
            <md-tab label='Spaces'>
                <md-content>
                    <div layout-xs="column" layout="row" layout-padding>
                        <div flex-xs flex-gt-xs="50" layout="column">

                        </div>
                        <div flex-xs flex-gt-xs="50" layout="column">


                        </div>
                    </div>
                </md-content>
            </md-tab>
            -->
        </md-tabs>
    </div>
</div>