<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Administrative information</span>
        </md-card-title-text>
    </md-card-title>
    <form flex novalidate name="validateAdministrativeInfoForm[num]"
        ng-submit="validateAdministrativeInfoForm[num].$valid
        && vm.submitAdmInfo(vm.forms['validateAdministrativeInfo'],vm.selectedIndexValidate-1,vm.thisPersonValidate[vm.selectedIndexValidate-1],true)">
        <md-card-content layout="column" flex>
            <div layout="column" layout-gt-xs="row" class="spacer-top">
                <md-input-container>
                    <label>FCT association key</label>
                    <input required
                            ng-model="vm.thisPersonValidate[vm.selectedIndexValidate-1].administrative_data[0].association_key"
                            name="researcherID">
                </md-input-container>
                <md-input-container>
                    <label>Ciência ID</label>
                    <input required
                            ng-model="vm.thisPersonValidate[vm.selectedIndexValidate-1].administrative_data[0].ciencia_id"
                            name="cienciaID">
                </md-input-container>
            </div>
            <div layout="column" layout-gt-sm="row" layout-align="none center">
                <md-button type="submit"
                    class="button-small md-raised md-primary">Update</md-button>
                <div class="status-message" ng-hide="vm.hideMessage[vm.forms['validateAdministrativeInfo']]">
                    <span class="message" ng-class="vm.messageType[vm.forms['validateAdministrativeInfo']]">
                        {{vm.updateStatus[vm.forms['validateAdministrativeInfo']]}}
                    </span>
                </div>
                <md-button ng-click="vm.deleteRole('administrative',vm.forms['validateRmAdmRole'],vm.selectedIndexValidate-1)"
                    class="button-small md-raised md-warn">Remove 'Administrative' role</md-button>
                <div class="status-message" ng-hide="vm.hideMessage[vm.forms['validateRmAdmRole']]">
                    <span class="message" ng-class="vm.messageType[vm.forms['validateRmAdmRole']]">
                        {{vm.updateStatus[vm.forms['validateRmAdmRole']]}}
                    </span>
                </div>
            </div>
        </md-card-content>
    </form>
    <validate-person-affiliation-administrative></validate-person-affiliation-administrative>
</md-card>