<form flex novalidate name="validateAffiliationLabForm[num]"
    ng-submit="validateAffiliationLabForm[num].$valid
    && vm.submitAffiliationLab(vm.forms['validateLabAffiliation'], vm.selectedIndexValidate-1,vm.thisPersonValidate[vm.selectedIndexValidate-1],true)">
    <div ng-if="!vm.nothingToShow(vm.currentAffiliationsLabValidate[vm.selectedIndexValidate-1],'people_lab_id')" layout="column">
        <div ng-repeat="(numLab,affLab) in vm.currentAffiliationsLabValidate[vm.selectedIndexValidate-1] track by $index"
            layout="column">
            <fieldset class="spacer">
                <div layout="column" layout-gt-xs="row">
                    <md-input-container
                        class="search-box select-container input-row"
                        ng-controller="LabSelectCtrl as laboratory">
                        <label>Lab</label>
                        <md-select required ng-model="vm.currentAffiliationsLabValidate[vm.selectedIndexValidate-1][numLab].lab_id"
                            md-on-close="vm.updateOnSelect(vm.currentAffiliationsLabValidate[vm.selectedIndexValidate-1],vm.labs,numLab,'lab_id', ['lab','lab_opened','lab_closed','group_opened','group_closed','group_id','group_name','unit_id','unit'])"
                            md-container-class="correct-overflow" name="affLab_id[numLab]">
                            <div class="anchored">
                                <md-select-header class="select-search-header">
                                    <input ng-model="laboratory.searchTerm" type="search"
                                      placeholder="Search your lab"
                                      class="md-text select-search-box">
                            </md-select-header>
                            </div>
                                <md-optgroup class="scrollable" label="laboratories">
                                    <md-option ng-repeat="lab in vm.labs | filter:laboratory.searchTerm"
                                        ng-value="lab.lab_id">{{lab.lab}}</md-option>
                                </md-optgroup>
                        </md-select>
                    </md-input-container>
                    <md-input-container flex>
                        <label>Group</label>
                        <input disabled ng-model="vm.currentAffiliationsLabValidate[vm.selectedIndexValidate-1][numLab].group_name"
                                name="affLab_group_name[numLab]">
                    </md-input-container>
                </div>
                <div flex>
                    <md-input-container flex>
                        <label>Unit</label>
                        <input disabled ng-model="vm.currentAffiliationsLabValidate[vm.selectedIndexValidate-1][numLab].unit"
                                name="affLab_unit[num]">
                    </md-input-container>
                </div>
                <div layout="column" layout-gt-xs="row">
                    <md-input-container>
                        <label>Dedication (%)</label>
                        <input required ng-model="vm.currentAffiliationsLabValidate[vm.selectedIndexValidate-1][numLab].dedication"
                                name="affLab_dedication[numLab]" dedication-validate>
                    </md-input-container>
                    <md-input-container>
                        <label>Position</label>
                        <md-select ng-model="vm.currentAffiliationsLabValidate[vm.selectedIndexValidate-1][numLab].lab_position_id"
                                name="affLab_position[numLab]">
                            <md-option ng-repeat="pos in vm.labPositions" ng-value="pos.lab_position_id">{{pos.name_en}}</md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div layout="column" layout-gt-xs="row">
                    <md-input-container class="input-row-longer">
                        <label>Start</label>
                        <md-datepicker md-current-view="year" required ng-model="vm.currentAffiliationsLabValidate[vm.selectedIndexValidate-1][numLab].lab_start"
                                md-min-date="vm.currentAffiliationsLabValidate[vm.selectedIndex-2][numLab].labs_groups_valid_from"
                                md-max-date="vm.currentAffiliationsLabValidate[vm.selectedIndex-2][numLab].labs_groups_valid_until"
                                name="affLab_start[numLab]" md-placeholder="Enter date"></md-datepicker>
                    </md-input-container>
                    <md-input-container class="input-row-longer">
                        <label>End</label>
                        <md-datepicker md-current-view="year" ng-model="vm.currentAffiliationsLabValidate[vm.selectedIndexValidate-1][numLab].lab_end"
                                md-min-date="vm.currentAffiliationsLabValidate[vm.selectedIndex-2][numLab].labs_groups_valid_from"
                                md-max-date="vm.currentAffiliationsLabValidate[vm.selectedIndex-2][numLab].labs_groups_valid_until"

                                name="affLab_end[numLab]" md-placeholder="Enter date"></md-datepicker>
                    </md-input-container>
                    <div layout="row" layout-align="start center">
                        <md-button ng-click="vm.removeRows2(vm.currentAffiliationsLabValidate[vm.selectedIndexValidate-1],numLab)"
                                aria-label="Remove"
                                class="md-icon-button interaction-button">
                            <md-icon md-svg-src="images/icons/remove_24px.svg"></md-icon>
                        </md-button>
                        <md-button ng-if="$last" ng-click="vm.addRows2(vm.currentAffiliationsLabValidate[vm.selectedIndexValidate-1], 'affiliationsLab')"
                                aria-label="Add more" class="md-icon-button interaction-button">
                            <md-icon md-svg-src="images/icons/add_24px.svg"></md-icon>
                        </md-button>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div ng-if="vm.nothingToShow(vm.currentAffiliationsLabValidate[vm.selectedIndexValidate-1],'people_lab_id')" layout="column">
         No data, press + to add
        <md-button ng-click="vm.addRows2(vm.currentAffiliationsLabValidate[vm.selectedIndexValidate-1], 'affiliationsLab')"
                aria-label="Add more" class="md-icon-button interaction-button">
            <md-icon md-svg-src="images/icons/add_24px.svg"></md-icon>
        </md-button>
    </div>
    <div layout="column" layout-gt-sm="row" layout-align="none center">
        <md-button type="submit"
            class="button-small md-raised md-primary">Update</md-button>
        <div class="status-message" ng-hide="vm.hideMessage[vm.forms['validateLabAffiliation']]">
            <span class="message" ng-class="vm.messageType[vm.forms['validateLabAffiliation']]">
                {{vm.updateStatus[vm.forms['validateLabAffiliation']]}}
            </span>
        </div>
    </div>
</form>