<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Publications</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content layout="column">
        <div layout="row" layout-align="none center">
            <span class="spacer-top-smaller">Filter:</span>
            <md-input-container class="input-row-longer">
                <label>From year</label>
                <input ng-model="vm.fromYearPub" ng-change="vm.renderPublications('new')">
            </md-input-container>
            <md-input-container class="input-row-longer">
                <label>To year</label>
                <input ng-model="vm.toYearPub" ng-change="vm.renderPublications('new')">
            </md-input-container>
            <md-button class="s48" ng-click="vm.exportPublicationsSpreadsheet()"
                        aria-label="Export selection"
                        class="md-icon-button interaction-button">
                <md-tooltip>Export filtered results to spreadsheet</md-tooltip>
                <md-icon md-svg-src="images/icons/spreadsheet.svg"
                        class="s48"></md-icon>
            </md-button>
        </div>
        <p>
            Publications labeled with <md-icon md-svg-src="images/icons/repository_24px.svg"></md-icon> 
            are also found in your institution's repository (e.g. PURE) and are associated to you in it 
            (go to "Pub Add" tab, "Connect Repository" and then "Synchronize"). <br>
            Note: Currently this is only available for FCT NOVA.
        </p>
        <div>
            This list contains <strong>{{vm.selectedPublications.length}} publications</strong>.
        </div>
        <form flex novalidate name="personPublicationsForm"
                ng-submit="personPublicationsForm.$valid && vm.submitSelectedPersonPublications(vm.forms['personSelectedPub'])">
            <div layout="row" class="paginator">
                <md-input-container class="input-no-margin wider">
                    <label>Results/page</label>
                    <md-select ng-model="vm.pageSize"
                            md-on-close="vm.renderPublications('new')"
                            aria-label="pageSize"
                            name="pageSize">
                            <md-option ng-value="10">10</md-option>
                            <md-option ng-value="20">20</md-option>
                            <md-option ng-value="50">50</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="input-no-margin">
                    <label>Page</label>
                    <md-select ng-model="vm.currentPage"
                            md-on-close="vm.renderPublications('page')"
                            aria-label="currentPage"
                            name="currentPage">
                            <md-option ng-repeat="page in vm.pages" ng-value="page">{{page}}</md-option>
                    </md-select>
                </md-input-container>
            </div>
            <table class="publications">
                <thead>
                    <tr>
                        <th class="large-contents-wide">
                            <a ng-click="vm.sortColumn('title')">Title</a>
                            <ng-md-icon ng-if="!vm.sortReverse && vm.sortType=='title'"
                                    icon="arrow_downward" size="12"></ng-md-icon>
                            <ng-md-icon ng-if="vm.sortReverse  && vm.sortType=='title'"
                                    icon="arrow_upwards" size="12"></ng-md-icon>
                        </th>
                        <th class="large-contents-narrow">
                            <a ng-click="vm.sortColumn('authors_raw')">Authors</a>
                            <ng-md-icon ng-if="!vm.sortReverse && vm.sortType=='authors_raw'"
                                    icon="arrow_downward" size="12"></ng-md-icon>
                            <ng-md-icon ng-if="vm.sortReverse  && vm.sortType=='authors_raw'"
                                    icon="arrow_upwards" size="12"></ng-md-icon>
                        </th>
                        <th class="standard-width">
                            <a ng-click="vm.sortColumn('journal_short_name')">Journal</a>
                            <ng-md-icon ng-if="!vm.sortReverse && vm.sortType=='journal_short_name'"
                                    icon="arrow_downward" size="12"></ng-md-icon>
                            <ng-md-icon ng-if="vm.sortReverse  && vm.sortType=='journal_short_name'"
                                    icon="arrow_upwards" size="12"></ng-md-icon>
                        </th>
                        <th class="smaller-width">
                            <a ng-click="vm.sortColumn('year')">Year</a>
                            <ng-md-icon ng-if="!vm.sortReverse && vm.sortType=='year'"
                                    icon="arrow_downward" size="12"></ng-md-icon>
                            <ng-md-icon ng-if="vm.sortReverse  && vm.sortType=='year'"
                                    icon="arrow_upwards" size="12"></ng-md-icon>
                        </th>
                        <th  class="smaller-width">
                            <md-icon md-svg-src="images/icons/star_18px.svg">
                                 <md-tooltip md-direction="top">
                                      Highlighted publication
                                </md-tooltip>
                            </md-icon>
                        </th>
                        <th class="smaller-width">
                            <md-icon md-svg-src="images/icons/public_24px.svg">
                                <md-tooltip md-direction="top">
                                      Visible on other platforms (e.g. website) as your publication
                                </md-tooltip>
                            </md-icon>
                        </th>
                        <th class="small-width"></th>

                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(pubNum,publication) in vm.currPublications track by $index">
                        <td>{{publication.title}}</td>
                        <td>{{publication.authors_raw}}</td>
                        <td>{{publication.journal_short_name}}</td>
                        <td>{{publication.year}}</td>
                        <td layout-align="center center">
                            <md-checkbox class="center-tick" name="selectedPublication" aria-label="Selected Publication"
                                    ng-change="vm.changeSelectedStatus(publication)" ng-model="publication.selected"></md-checkbox>
                        </td>
                        <td>
                            <md-checkbox class="center-tick" name="publicPublication" aria-label="Public Publication"
                                    ng-change="vm.changePublicStatus(publication)" ng-model="publication.public"></md-checkbox>
                        </td>
                        <td>
                            <md-button ng-click="vm.showDetailsPublication(publication)"
                                        aria-label="Details"
                                        class="md-icon-button interaction-button tighter">
                                <md-icon md-svg-src="images/icons/description_24px.svg"></md-icon>
                            </md-button>
                            <md-button ng-click="vm.removePublication(publication)"
                                        aria-label="Remove publication"
                                        class="md-icon-button interaction-button tighter">
                                <md-icon md-svg-src="images/icons/remove_24px.svg"></md-icon>
                            </md-button>
                            <md-icon ng-if="publication.in_institutional_repository" 
                                    md-svg-src="images/icons/repository_24px.svg"></md-icon>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div layout="row" class="paginator">
                <md-input-container class="input-no-margin wider">
                    <label>Results/page</label>
                    <md-select ng-model="vm.pageSize"
                            md-on-close="vm.renderPublications('new')"
                            aria-label="pageSize"
                            name="pageSize">
                            <md-option ng-value="10">10</md-option>
                            <md-option ng-value="20">20</md-option>
                            <md-option ng-value="50">50</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="input-no-margin">
                    <label>Page</label>
                    <md-select ng-model="vm.currentPage"
                            md-on-close="vm.renderPublications('page')"
                            aria-label="currentPage"
                            name="currentPage">
                            <md-option ng-repeat="page in vm.pages" ng-value="page">{{page}}</md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div layout="column" layout-gt-sm="row" layout-align="none center">
                <md-button type="submit"
                    class="button-small md-raised md-primary">
                        Update <md-icon class="white-icon" md-svg-src="images/icons/star_18px.svg"></md-icon> &
                               <md-icon class="white-icon" md-svg-src="images/icons/public_24px.svg"></md-icon>
                </md-button>
                <div class="status-message" ng-hide="vm.hideMessage[vm.forms['personSelectedPub']]">
                    <span class="message" ng-class="vm.messageType[vm.forms['personSelectedPub']]">
                        {{vm.updateStatus[vm.forms['personSelectedPub']]}}
                    </span>
                </div>
                <md-button ng-click="vm.submitPublicationRemoval(vm.forms['personPubRemove'])"
                    class="button-small md-raised md-primary">Confirm removal</md-button>
                <div class="status-message" ng-hide="vm.hideMessage[vm.forms['personPubRemove']]">
                    <span class="message" ng-class="vm.messageType[vm.forms['personPubRemove']]">
                        {{vm.updateStatus[vm.forms['personPubRemove']]}}
                    </span>
                </div>
                <md-button class="button-small md-raised md-warn"
                    ng-click="vm.closeTabs()">Close details tabs</md-button>
            </div>
        </form>


    </md-card-content>
</md-card>