<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Search within LAQV/UCIBIO database</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content layout="column">
        <p>These are publications that are already in the database (from WOS, ORCID, or other sources). Publications already associated with you are excluded from search results.<br>
           After selecting publications, add some more information on "To be added..."  and then press "Add Publications" below.
        </p>
        <div layout="row" layout-align="none center">
            <span class="spacer-top-smaller">Search:</span>
            <md-input-container class="input-row-longer">
                <label>by title (> 3 char.)</label>
                <input ng-model="vm.allPublicationsSearchTitle"
                       ng-change="vm.getSearchResults(vm.allPublicationsSearchTitle,vm.allPublicationsSearchAuthors)">
            </md-input-container>
            <md-input-container class="input-row-longer">
                <label>by authors (> 3 char.)</label>
                <input ng-model="vm.allPublicationsSearchAuthors"
                       ng-change="vm.getSearchResults(vm.allPublicationsSearchTitle,vm.allPublicationsSearchAuthors)">
            </md-input-container>
        </div>
        <form flex novalidate name="personAddPublicationsForm"
                ng-submit="personAddPublicationsForm.$valid && vm.submitAddPublications(vm.forms['personPubAdd'])">
            <div class="small-screens" layout="column" ng-if="!vm.showTable()">
                <div class="search-header spacer-top space-left">
                    <span>Search results</span>
                </div>
                <div ng-repeat="(pubNum,publication) in vm.filteredAllPublications track by $index">
                    <div layout="column">
                        <div layout="row" layout-align=" center">
                            <div class="question"><span class="highlight">Title:</span></div>
                            <div class="answer"><span>{{publication.title}}</span></div>
                        </div>
                        <div layout="row" layout-align=" center">
                            <div class="question"><span class="highlight">Authors:</span></div>
                            <div class="answer"><span>{{publication.authors_raw}}</span></div>
                        </div>
                        <div layout="row" layout-align=" center">
                            <div class="question"><span class="highlight">Journal:</span></div>
                            <div class="answer"><span>{{publication.journal_short_name}}</span></div>
                        </div>
                        <div layout="row" layout-align=" center">
                            <div class="question"><span class="highlight">Year:</span></div>
                            <div class="answer"><span>{{publication.year}}</span></div>
                        </div>
                        <div layout="row">
                            <md-button ng-click="vm.addPublicationPerson(publication)"
                                    aria-label="Remove publication"
                                    class="md-icon-button interaction-button">
                                <md-icon md-svg-src="images/icons/add_24px.svg"></md-icon>
                            </md-button>
                        </div>
                    </div>
                    <md-divider ng-if="!vm.showTable()"></md-divider>
                </div>
                <div class="search-header spacer-top space-left">
                    <span>To be added to your publications</span>
                </div>
                <div ng-repeat="(pubNum,publication) in vm.addPublications track by $index">
                    <div layout="column">
                        <div layout="row" layout-align=" center">
                            <div class="question"><span class="highlight">Title:</span></div>
                            <div class="answer"><span>{{publication.title}}</span></div>
                        </div>
                        <div layout="row" layout-align=" center">
                            <div class="question"><span class="highlight">Authors:</span></div>
                            <div class="answer"><span>{{publication.authors_raw}}</span></div>
                        </div>
                        <div layout="row" layout-align=" center">
                            <div class="question"><span class="highlight">Journal:</span></div>
                            <div class="answer"><span>{{publication.journal_short_name}}</span></div>
                        </div>
                        <div layout="row" layout-align=" center">
                            <div class="question"><span class="highlight">Year:</span></div>
                            <div class="answer"><span>{{publication.year}}</span></div>
                        </div>
                        <div layout="row">
                            <div class="question"><span class="highlight">I am:</span></div>
                            <div class="answer">
                                <span><md-input-container class="select-container select-no-margin card-type">
                                    <md-select ng-model="publication.author_type_id"
                                                aria-label="author type"
                                                name="publication_author_type[pubNum]">
                                            <div class="scrollable">
                                                <md-option ng-repeat="type in vm.authorTypes" ng-value="type.id">{{type.name_en}} author</md-option>
                                            </div>
                                        </md-select>
                                    </md-input-container>
                                </span>
                            </div>
                        </div>
                        <div layout="row">
                            <div class="question"><span class="highlight">Author rank:</span></div>
                            <div class="answer">
                                <span><md-input-container class="input-no-margin">
                                        <input ng-model="publication.position"
                                            aria-label="dedication"
                                            name="publication_position[pubNum]"
                                            integer-validate>
                                    </md-input-container>
                                </span>
                            </div>
                        </div>
                    </div>
                    <md-divider ng-if="!vm.showTable()"></md-divider>
                </div>
            </div>
            <div ng-if="vm.showTable()">
                <div class="search-header spacer-top space-left">
                    <span>Search results</span>
                </div>
                <table class="publications">
                    <thead>
                        <tr>
                            <th class="large-contents-wide">
                                <a>Title</a>
                            </th>
                            <th class="large-contents-narrow">
                                <a>Authors</a>
                            </th>
                            <th class="standard-width">
                                <a>Journal</a>
                            </th>
                            <th class="smaller-width">
                                <a>Year</a>
                            </th>
                            <th  class="smaller-width"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(pubNum,publication) in vm.filteredAllPublications track by $index">
                            <td>{{publication.title}}</td>
                            <td>{{publication.authors_raw}}</td>
                            <td>{{publication.journal_short_name}}</td>
                            <td>{{publication.year}}</td>
                            <td>
                                <md-button ng-click="vm.addPublicationPerson(publication)"
                                        aria-label="Remove publication"
                                        class="md-icon-button interaction-button">
                                    <md-icon md-svg-src="images/icons/add_24px.svg"></md-icon>
                                </md-button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="search-header spacer-top space-left">
                    <span>To be added to your publications</span>
                </div>
                <table class="publications-add-db">
                    <thead>
                        <tr>
                            <th class="large-contents-wide">
                                <a>Title</a>
                            </th>
                            <th class="large-contents-narrow">
                                <a>Authors</a>
                            </th>
                            <th class="standard-width">
                                <a>Journal</a>
                            </th>
                            <th class="smaller-width">
                                <a>Year</a>
                            </th>
                            <th class="small-width">
                                <a>I am ...</a>
                            </th>
                            <th class="smaller-width">
                                <a>Author<br>rank</a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(pubNum,publication) in vm.addPublications track by $index">
                            <td>{{publication.title}}</td>
                            <td>{{publication.authors_raw}}</td>
                            <td>{{publication.journal_short_name}}</td>
                            <td>{{publication.year}}</td>
                            <td>
                                <md-input-container class="select-container select-no-margin card-type">
                                    <md-select ng-model="publication.author_type_id"
                                            aria-label="author type"
                                            name="publication_author_type[pubNum]">
                                        <div class="scrollable">
                                            <md-option ng-repeat="type in vm.authorTypes" ng-value="type.id">{{type.name_en}} author</md-option>
                                        </div>
                                    </md-select>
                                </md-input-container>
                            </td>
                            <td>
                                <md-input-container class="input-no-margin">
                                    <input ng-model="publication.position"
                                        aria-label="dedication"
                                        name="publication_position[pubNum]"
                                        integer-validate>
                                </md-input-container>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="spacer-top"
                    layout="column" layout-gt-sm="row" layout-align="none center">
                <md-button type="submit"
                    class="button-small md-raised md-primary">Add Publications</md-button>
                <div class="status-message" ng-hide="vm.hideMessage[vm.forms['personPubAdd']]">
                    <span class="message" ng-class="vm.messageType[vm.forms['personPubAdd']]">
                        {{vm.updateStatus[vm.forms['personPubAdd']]}}
                    </span>
                </div>
            </div>
        </form>


    </md-card-content>
</md-card>
