<md-button id="person-researcher-remove-info"
    ng-click="vm.deleteRole('researcher', vm.forms['personRmResearcherRole'])"
    class="button-small md-raised md-warn">Remove role</md-button>
<div class="status-message" ng-hide="vm.hideMessage[vm.forms['personRmResearcherRole']]">
        <span class="message" ng-class="vm.messageType[vm.forms['personRmResearcherRole']]">
            {{vm.updateStatus[vm.forms['personRmResearcherRole']]}}
        </span>
</div>
<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Researcher information</span>
        </md-card-title-text>
    </md-card-title>
    <form flex novalidate name="personResearcherInfoForm"
        ng-submit="personResearcherInfoForm.$valid && vm.submitResearcherInfo(vm.forms['personResInfo'])">
        <md-card-content layout="column" flex>
            <div layout="column" layout-gt-sm="row">
                <md-switch ng-model="vm.pluriannual"
                        ng-true-value="1" ng-false-value="0"
                        ng-disabled="true" class="green">
                     Pluriannual: {{ vm.switchValue(vm.pluriannual) }}
                </md-switch>
                <md-switch ng-model="vm.integrated"
                        ng-true-value="1" ng-false-value="0"
                        ng-disabled="true" class="green">
                     Integrated: {{ vm.switchValue(vm.integrated) }}
                </md-switch>
                <md-switch ng-model="vm.nuclearCV"
                        ng-true-value="1" ng-false-value="0"
                        ng-disabled="true" class="green">
                     Nuclear CV: {{ vm.switchValue(vm.nuclearCV) }}
                </md-switch>
            </div>
            <p class="small-text">Values above can only be changed by users with permissions to acces 'Unit' page.</p>
            <div layout="column" layout-gt-xs="row" class="spacer-top">
                <md-input-container>
                    <label>FCT association key</label>
                    <input required ng-model="vm.thisPerson.researcher_data[0].association_key"
                            name="researcherID">
                </md-input-container>
            </div>
            <div layout="column" layout-gt-xs="row">
                <md-input-container>
                    <label>ResearcherID</label>
                    <input ng-model="vm.thisPerson.researcher_data[0].researcherID"
                            name="researcherID">
                </md-input-container>
                <md-input-container>
                    <label>scopusID</label>
                    <input ng-model="vm.thisPerson.researcher_data[0].scopusID"
                            name="scopusID">
                </md-input-container>
                <div layout="row" layout-align="start center">
                    <md-input-container>
                        <label>Inst. Repository ID</label>
                        <input ng-model="vm.thisPerson.researcher_data[0].pure_id" name="pureID">
                    </md-input-container>
                    <div>
                        <md-tooltip>personal ID used in your Institutions data repository </md-tooltip>
                        <md-icon md-svg-src="images/icons/help_24px.svg"></md-icon>
                    </div>
                </div>

            </div>
            <div layout="column">
                <md-input-container>
                    <label>ORCID (format: dddd-dddd-dddd-dddd)</label>
                    <input ng-model="vm.thisPerson.researcher_data[0].ORCID"
                            name="ORCID">
                </md-input-container>

            </div>
            <div layout="column" layout-gt-sm="row" layout-align="none center">
                <md-button id="person-researcher-info" type="submit"
                    class="button-small md-raised md-primary">Update</md-button>
                <div class="status-message" ng-hide="vm.hideMessage[vm.forms['personResInfo']]">
                    <span class="message" ng-class="vm.messageType[vm.forms['personResInfo']]">
                        {{vm.updateStatus[vm.forms['personResInfo']]}}
                    </span>
                </div>
            </div>
        </md-card-content>
    </form>
</md-card>