<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Search your ORCID</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content layout="column">
        <div ng-show="gettingAllCommunications" layout-padding>
            <p>Getting information from database...</p>
            <md-progress-circular md-mode="indeterminate" md-diameter="60px"></md-progress-circular>
        </div>
        <div ng-show="!gettingAllCommunications">
            <div layout="row">
                <md-button type="submit" ng-click="connectCommORCID()"
                    class="button-small md-raised md-warn">Connect ORCID</md-button>
                <md-progress-circular ng-disabled="!progressORCID" md-diameter="20"></md-progress-circular>
            </div>
            <form flex novalidate name="managerAddORCIDCommunicationsForm"
                    ng-submit="managerAddORCIDCommunicationsForm.$valid && submitAddORCIDCommunications(forms['managerCommunicationORCIDAdd'])">
                <div layout="row" layout-align="start center">
                    <div class="question"><span class="highlight"><h2>Select all:</h2></span></div>
                    <div class="answer align-publication">
                        <span>
                            <md-checkbox ng-model="selectAllCommunicationsORCID"
                                    ng-change="changeAllCommunications(selectAllCommunicationsORCID, communicationDetailsORCID)"
                                    aria-label="choose all"></md-checkbox>
                        </span>
                    </div>
                </div>
                <md-divider></md-divider>
                <div ng-repeat="(pubNum,work) in communicationDetailsORCID track by $index" flex>
                    <div layout="column" flex>
                        <div layout="row" layout-align="center" class="spacer-top">
                            <div class="question"><span class="highlight">Title:</span></div>
                            <div class="answer"><span>{{work.title}}</span></div>
                        </div>
                        <div layout="row" layout-align="none center">
                            <div class="question"><span class="highlight">Authors list *<br>(separate with ;):</span></div>
                            <div class="answer">
                                <md-input-container class="input-compact">
                                    <input ng-required="work.chosen" ng-change="communicationAuthorsList(work, work.authors_raw, pubNum)"
                                            ng-model="work.authors_raw" name="authors_raw[pubNum]">
                                </md-input-container>
                            </div>
                        </div>
                        <div layout="row" layout-align="none center">
                            <div class="question"><span class="highlight">Presenter:</span></div>
                            <div class="answer">
                                <md-input-container class="select-container select-no-margin card-type">
                                    <md-select ng-model="work.presenter"
                                            aria-label="presenter"
                                            name="publication_orcid_presenter[pubNum]">
                                        <md-option ng-repeat="presenter in work.presenters"
                                                ng-value="presenter">{{presenter}}</md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                        </div>
                        <div layout="row" layout-align="none center">
                            <div class="question"><span class="highlight">Date:</span></div>
                            <div class="answer">
                                <div ng-if="!work.edit_date">
                                    <span>{{communicationDetailsORCID[pubNum].date}}</span>
                                </div>
                                <div ng-if="work.edit_date" layout="row">
                                    <md-input-container>
                                        <md-datepicker ng-required="work.chosen" md-current-view="year" ng-model="communicationDetailsORCID[pubNum].date"
                                                name="member_startDate[memberNum]"
                                                md-placeholder="Enter date" md-hide-icons="calendar"></md-datepicker>
                                    </md-input-container>
                                </div>
                            </div>
                        </div>
                        <div layout="row" ng-class="{'spacer-top': !work.edit_date}">
                            <div class="question"><span class="highlight">Communication type*:</span></div>
                            <div class="answer">
                                <span>
                                    <md-input-container class="select-container select-no-margin card-type">
                                        <md-select ng-required="work.chosen" ng-model="work.communication_type_id"
                                                aria-label="publication type"
                                                name="publication_orcid_communication_type[pubNum]">
                                            <div class="scrollable">
                                                <md-option ng-repeat="type in communicationTypes"
                                                        ng-value="type.id">{{type.name}}</md-option>
                                            </div>
                                        </md-select>
                                    </md-input-container>
                                </span>
                            </div>
                        </div>
                        <div layout="row" layout-align="none center">
                            <div class="question"><span class="highlight">Conference/meeting name*:</span></div>
                            <div class="answer">
                                <md-input-container class="input-compact">
                                    <input ng-required="work.chosen" ng-model="communicationDetailsORCID[pubNum].conference" name="conference[pubNum]">
                                </md-input-container>
                            </div>
                        </div>
                        <div layout="row" layout-align="none center">
                            <div class="question"><span class="highlight">Conference type*:</span></div>
                            <div class="answer">
                                <span>
                                    <md-input-container class="select-container select-no-margin card-type">
                                        <md-select ng-required="work.chosen" ng-model="work.conference_type_id"
                                                aria-label="publication type"
                                                name="publication_orcid_conference_type[pubNum]">
                                            <div class="scrollable">
                                                <md-option ng-repeat="type in conferenceTypes"
                                                        ng-value="type.id">{{type.name}}</md-option>
                                            </div>
                                        </md-select>
                                    </md-input-container>
                                </span>
                            </div>
                        </div>
                        <div layout="row" layout-align="none center">
                            <div class="question"><span class="highlight">International?</span></div>
                            <div class="answer">
                                <md-checkbox ng-model="work.international" aria-label="international"></md-checkbox>
                                <md-input-container class="search-box select-container input-row"
                                    ng-if="work.international"
                                    ng-controller="CountrySelectCtrl as count">
                                    <label>Country</label>
                                    <md-select ng-required="work.chosen" ng-model="work.country_id"
                                        ng-model-options="{trackBy: '$value.country_id'}">
                                        <div class="anchored">
                                            <md-select-header class="select-search-header">
                                                <input ng-model="count.searchTerm" type="search"
                                                  placeholder="Search your countries"
                                                  class="md-text select-search-box">
                                            </md-select-header>
                                        </div>
                                        <div class="scrollable">
                                            <md-optgroup label="countries">
                                                <md-option ng-repeat="country in count.countries | filter:count.searchTerm"
                                                    ng-value="country">{{country.name}}</md-option>
                                            </md-optgroup>
                                        </div>
                                    </md-select>
                                </md-input-container>
                            </div>
                        </div>
                        <div layout="row" layout-align="none center">
                            <div class="question"><span class="highlight">City*:</span></div>
                            <div class="answer">
                                <md-input-container class="input-compact">
                                    <input ng-required="work.chosen" ng-model="work.city" name="city[pubNum]">
                                </md-input-container>
                            </div>
                        </div>
                        <div layout="row" layout-align="none center">
                            <div class="question"><span class="highlight">Add to DB:</span></div>
                            <div class="answer">
                                <span>
                                    <md-checkbox ng-model="work.chosen" aria-label="chosen"></md-checkbox>
                                </span>
                            </div>
                        </div>
                    </div>
                    <md-divider></md-divider>
                </div>
                <div class="spacer-top"
                        layout="column" layout-gt-sm="row" layout-align="none center">
                    <md-button type="submit"
                        class="button-small md-raised md-primary">Add ORCID Pub.</md-button>
                    <div class="status-message" ng-hide="hideMessage[forms['managerCommunicationORCIDAdd']]">
                        <span class="message" ng-class="messageType[forms['managerCommunicationORCIDAdd']]">
                            {{updateStatus[forms['managerCommunicationORCIDAdd']]}}
                        </span>
                    </div>
                </div>
            </form>
        </div>


    </md-card-content>
</md-card>
