extends layout

block content
    md-content(class='md-padding', flex)
        md-tabs(md-dynamic-height, md-border-bottom)
            include ./person/personal                
            include ./person/academic
            include ./person/institutional
            md-tab(label='Contract')
                p test
            md-tab(label='Productivity')
                p test
            md-tab(label='Spaces')
                p test
  