extends layout

block content
   md-content(md-scroll-y, layout='column', flex)
        md-tabs(md-dynamic-height, md-border-bottom)
            md-tab(label='Teste Team')
                md-card(ng-controller='NuclearInfoCtrl as nuclear')
                    md-card-title Degrees
                    md-card-content
                        div(layout='column')
                            md-input-container
                                label Degree
                                input(ng-model='personDegree1', name='personDegree1')
                            md-input-container
                                label Degree
                                input(ng-model='personDegree2', name='personDegree2')
                            md-input-container
                                label Degree
                                input(ng-model='personDegree3', name='personDegree3')
                            md-input-container
                                label Degree
                                input(ng-model='personDegree4', name='personDegree4')
  