<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Personal contact information</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content layout="column" flex>
        <md-input-container>
            <label>Current address</label>
            <input ng-model="vm.thisPerson.address" name="address">
        </md-input-container>
        <div layout="row">
            <md-input-container class="input-row">
                <label>Postal Code</label>
                <input ng-model="vm.thisPerson.postal_code" name="postal_code"
                        md-maxlength="8" postal-code-validate>
                <div ng-messages="registrationForm.postal_code.$error">
                    <div ng-message="md-maxlength">Must be less than 8 characters long.</div>
                    <div ng-message="postalFormat">Must be dddd-ddd or dddd</div>
                </div>
            </md-input-container>
            <md-input-container class="input-row">
                <label>City</label></label>
                <input ng-model="vm.thisPerson.city" name="city">
            </md-input-container>
        </div>
        <div layout="row">
            <md-input-container class="input-row">
                <label>Personal Phone</label></label>
                <input ng-model="vm.thisPerson.personal_phone[0]" name="personal_phone[0]">
            </md-input-container>
            <md-input-container class="input-row">
                <label>Personal Email</label></label>
                <input type="email" required ng-model="vm.thisPerson.personal_email[0].personal_email" name="personal_email">
                <div ng-messages="registrationForm.personal_email.$error" role="alert">
                    <div ng-message="email">Must be a valid email.</div>
                </div>
            </md-input-container>
        </div>
    </md-card-content>
</md-card>
