<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Cars</span>
            <span class="md-subhead">To ask for campus entry (Lisboa only)</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content layout="column" flex>
        <div ng-if="!vm.nothingToShow(vm.thisPerson.cars)" layout="column">
            <div ng-repeat="(num,car) in vm.thisPerson.cars track by $index"
                    layout="column">
                <fieldset class="spacer">
                    <div layout="column"  layout-gt-md="row">
                        <md-input-container class="input-row">
                            <label>Brand (e.g.: Porsche, Ferrari)</label>
                            <input ng-model="car.brand"
                                    name="car_brand[num]">
                        </md-input-container>
                        <md-input-container class="input-row">
                            <label>Model (e.g.: 911, Testarossa)</label>
                            <input ng-model="car.model"
                                    name="car_model[num]">
                        </md-input-container>
                        <md-input-container class="input-row">
                            <label>Color</label>
                            <input ng-model="car.color"
                                    name="car_color[num]">
                        </md-input-container>
                    </div>
                    <div layout="column"  layout-gt-md="row">
                        <md-input-container class="input-row">
                            <label>Plate number</label>
                            <input ng-model="car.plate"
                                    name="car_plate[num]">
                        </md-input-container>
                        <md-input-container class="input-row">
                            <label>Driver's license ID</label>
                            <input ng-model="car.license"
                                    name="car_license[num]">
                        </md-input-container>
                        <div layout="row" layout-align="start center">
                            <md-button ng-click="vm.removeRows(vm.thisPerson.cars,$index)" aria-label="Remove"
                                    class="md-icon-button interaction-button">
                                <md-icon md-svg-src="images/icons/remove_24px.svg"></md-icon>
                            </md-button>
                            <md-button ng-if="$last" ng-click="vm.addRows(vm.thisPerson.cars,'cars')"
                                    aria-label="Add more" class="md-icon-button interaction-button">
                                <md-icon md-svg-src="images/icons/add_24px.svg"></md-icon>
                            </md-button>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <div ng-if="vm.nothingToShow(vm.thisPerson.cars)" >
            No data, press + to add
            <md-button ng-click="vm.addRows(vm.thisPerson.cars,'cars')"
                    aria-label="Add more" class="md-icon-button interaction-button">
                <md-icon md-svg-src="images/icons/add_24px.svg"></md-icon>
            </md-button>
        </div>
    </md-card-content>
</md-card>
