<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Projects</span>
            <span class="md-subhead">Search first to check if project is already in database.</span>
        </md-card-title-text>
    </md-card-title>
    <form novalidate flex name="projectsForm"
        ng-submit="projectsForm.$valid && submitProjects(forms['managerUpdateWorks'])">
        <md-card-content layout="column" flex>
            <div layout="row" layout-align="none center" flex>
                <ng-md-icon icon="search" size="24"></ng-md-icon>
                <md-input-container flex>
                    <label>Search project titles, references or acronyms</label>
                    <input ng-model="searchProject" ng-change="renderProjects()">
                </md-input-container>
            </div>
            <ul>
                 <li ng-repeat="project in projectsToShow">
                    {{project.start | date: 'yyyy'}} - {{project.end | date: 'yyyy'}} : <b>{{project.title}}</b>, {{project.acronym}}. Ref: {{project.reference}}
                    <md-button ng-click="addProjectSearch(project)"
                            aria-label="Add more" class="md-icon-button interaction-button">
                            <md-icon md-svg-src="images/icons/add_24px.svg"></md-icon>
                    </md-button>
                </li>
            </ul>
            <div ng-if="!nothingToShow(currentProjects,'id')" layout="column">
                <div ng-repeat="(num,project) in currentProjects track by $index"
                    layout="column">
                    <fieldset class="spacer-top">
                        <legend>Project {{num + 1}}: {{project.reference}}</legend>
                        <div layout="column">
                            <fieldset>
                                <legend>LAQV/UCIBIO people associated</legend>
                                <div ng-repeat="(npers,person_id) in project.person_id track by $index"
                                        layout="column" layout-gt-sm="row">
                                    <md-input-container
                                        ng-controller="PeopleSelectCtrl as peop">
                                        <label>Person</label>
                                        <md-select ng-model="person_id.person_id"
                                                md-on-close="peop.searchTerm=''"
                                                name="project_units_person[num]">
                                            <div class="anchored">
                                                <md-select-header class="select-search-header">
                                                    <input ng-model="peop.searchTerm" type="search"
                                                      placeholder="Search authors"
                                                      class="md-text select-search-box">
                                                </md-select-header>
                                            </div>
                                            <div class="scrollable">
                                                <md-optgroup label="people">
                                                    <md-option ng-repeat="person in peop.people | filter:peop.searchTerm"
                                                        ng-value="person.id">{{person.colloquial_name}}</md-option>
                                                </md-optgroup>
                                            </div>
                                        </md-select>
                                    </md-input-container>
                                    <md-input-container>
                                        <label>Position</label>
                                        <md-select ng-model="person_id.position_id" name="project_position[num]">
                                           <md-option ng-repeat="type in projectPositions"
                                                ng-value="type.id">{{type.name_en}}</md-option>
                                        </md-select>
                                    </md-input-container>
                                    <div layout="row"  layout-align="start center">
                                        <span class="highlight"><h5>Remove person:</h5></span>
                                        <md-button ng-click="removeRows(project.person_id,npers)"
                                                aria-label="Remove"
                                                class="md-icon-button interaction-button">
                                            <md-icon md-svg-src="images/icons/remove_24px.svg"></md-icon>
                                        </md-button>
                                        <span ng-if="$last" class="highlight"><h5>Add person:</h5></span>
                                        <md-button ng-if="$last" ng-click="addRows(project.person_id, 'project_people')"
                                                aria-label="Add more" class="md-icon-button interaction-button">
                                            <md-icon md-svg-src="images/icons/add_24px.svg"></md-icon>
                                        </md-button>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div layout="column" layout-gt-sm="row">
                            <md-input-container flex>
                                <label>Title</label>
                                <input required ng-model="project.title"
                                        name="project_title[num]">
                            </md-input-container>
                        </div>
                        <div layout="column" layout-gt-sm="row">
                            <md-input-container>
                                <label>Acronym</label>
                                <input required ng-model="project.acronym"
                                        name="project_acronym[num]">
                            </md-input-container>
                            <md-input-container>
                                <label>Reference</label>
                                <input required ng-model="project.reference"
                                        name="project_reference[num]">
                            </md-input-container>
                            <md-input-container>
                                <label>Project type</label>
                                <md-select ng-model="project.project_type_id" name="project_type[num]">
                                   <md-option ng-repeat="type in projectTypes"
                                        ng-value="type.id">{{type.name}}</md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div layout="column" layout-gt-sm="row">
                            <md-input-container>
                                <label>Call type</label>
                                <md-select ng-model="project.call_type_id" name="project_call_type[num]">
                                   <md-option ng-repeat="type in callTypes"
                                        ng-value="type.id">{{type.name}}</md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div flex>
                            <fieldset layout="row" flex>
                                <legend>Project areas</legend>
                                    <div ng-repeat="(narea,parea) in project.project_areas track by $index"
                                            layout="row" layout-margin>
                                        <md-input-container>
                                            <input ng-model="parea.area" name="project_area[num][narea]">
                                        </md-input-container>
                                        <div layout="row"  layout-align="start center">
                                            <md-button ng-if="project.project_areas.length > 1;" ng-click="removeRows(project.project_areas,narea)"
                                                    aria-label="Remove"
                                                    class="md-icon-button interaction-button">
                                                <md-icon md-svg-src="images/icons/remove_24px.svg"></md-icon>
                                            </md-button>
                                            <md-button ng-if="$last" ng-click="addRows(project.project_areas, 'project_areas')"
                                                    aria-label="Add more" class="md-icon-button interaction-button">
                                                <md-icon md-svg-src="images/icons/add_24px.svg"></md-icon>
                                            </md-button>
                                        </div>
                                    </div>
                            </fieldset>
                        </div>

                        <div layout="column" layout-gt-sm="row">
                            <md-input-container>
                                <label>Funding agency</label>
                                <md-select ng-model="project.funding_entity_id" name="project_funding_entity[num]">
                                    <md-option ng-value="'other'">Other</md-option>
                                    <md-option ng-repeat="type in fundingAgencies"
                                        ng-value="type.id">{{type.short_name}} - {{type.official_name}}</md-option>
                                </md-select>
                            </md-input-container>
                            <div ng-if="project.funding_entity_id == 'other'" layout="column" layout-gt-sm="row">
                                <md-input-container>
                                    <label>Other funding agency</label>
                                    <input required ng-model="project.other_funding_entity"
                                            name="project_other_funding_agency[num]">
                                </md-input-container>
                            </div>
                            <md-input-container>
                                <label>Global amount (€)</label>
                                <input type="number" required ng-model="project.global_amount"
                                        name="prize_amount[num]">
                            </md-input-container>
                            <md-input-container>
                                <label>Management entity</label>
                                <md-select ng-model="project.management_entity_id" name="project_management_entity[num]">
                                    <md-option ng-repeat="type in managementEntities"
                                        ng-value="type.id">{{type.short_name}} - {{type.official_name}}</md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container>
                                <label>Entity amount (€)</label>
                                <input type="number" required ng-model="project.entity_amount"
                                        name="prize_amount[num]" max="{{project.global_amount}}">
                            </md-input-container>
                        </div>
                        <div layout="column" layout-gt-sm="row">
                            <md-input-container class="input-row-longer">
                                <label>Date start</label>
                                <md-datepicker md-current-view="year"
                                        ng-model="project.start"
                                        name="project_start[num]" md-placeholder="Enter date"></md-datepicker>
                            </md-input-container>
                            <md-input-container class="input-row-longer">
                                <label>Date end</label>
                                <md-datepicker md-current-view="year"
                                        ng-model="project.end"
                                        name="project_end[num]" md-placeholder="Enter date"></md-datepicker>
                            </md-input-container>
                        </div>
                        <div layout="column" layout-gt-sm="row">
                            <md-input-container flex>
                                <label>Website</label>
                                <input required ng-model="project.website"
                                        name="project_website[num]">
                            </md-input-container>
                        </div>
                        <div layout="column">
                            <md-input-container class="md-block">
                                <label>Notes</label>
                                <textarea ng-model="project.notes"
                                        md-maxlength="500" rows="2"
                                        name="project_notes[num]"></textarea>
                            </md-input-container>
                            <div layout="row" layout-align="start center">
                                <span class="highlight"><h5>Remove your association to project:</h5></span>
                                <md-button ng-click="removeRows(currentProjects,$index)"
                                        aria-label="Remove"
                                        class="md-icon-button interaction-button">
                                    <md-icon md-svg-src="images/icons/remove_24px.svg"></md-icon>
                                </md-button>
                                <span ng-if="$last" class="highlight"><h5>Add project:</h5></span>
                                <md-button ng-if="$last" ng-click="addRows(currentProjects, 'projects')"
                                        aria-label="Add more" class="md-icon-button interaction-button">
                                    <md-icon md-svg-src="images/icons/add_24px.svg"></md-icon>
                                </md-button>
                            </div>
                        </div>

                    </fieldset>
                </div>
            </div>
            <div ng-if="nothingToShow(currentProjects,'id')" layout="column">
                 No data, press + to add
                <md-button ng-click="addRows(currentProjects, 'projects')"
                        aria-label="Add more" class="md-icon-button interaction-button">
                    <md-icon md-svg-src="images/icons/add_24px.svg"></md-icon>
                </md-button>
            </div>
            <div layout="column" layout-gt-sm="row" layout-align="none center">
                <md-button type="submit"
                    class="button-small md-raised md-primary">Update</md-button>
                <div class="status-message" ng-hide="hideMessage[forms['managerUpdateWorks']]">
                    <span class="message" ng-class="messageType[forms['managerUpdateWorks']]">
                        {{updateStatus[forms['managerUpdateWorks']]}}
                    </span>
                </div>
            </div>
        </md-card-content>
    </form>
</md-card>
