<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Search your ORCID</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content layout="column">
        <p>These are publications found on ORCID that are not part of LAQV/UCIBIO database yet.<br>
            To add publications to the database, the procedure is:
            <ol>
                <li>Select publications from "ORCID results".<br>
                    Only publications with citations in BibTex format will be automatically parsed. For the remaining, you must enter details manually.</li>
                <li>Check/edit publication details (on "Selected publication details").<br> Add some more information and then clik + button to add.</li>
                <li>Press "Add ORCID pub.".</li>
            </ol>
        </p>
        <div layout="row">
            <md-button type="submit" ng-click="vm.connectORCID()"
                class="button-small md-raised md-warn">Connect ORCID</md-button>
            <md-progress-circular ng-disabled="!vm.progressORCID" md-diameter="20"></md-progress-circular>
        </div>

        <form flex novalidate name="personAddORCIDPublicationsForm"
                ng-submit="personAddORCIDPublicationsForm.$valid && vm.submitAddORCIDPublications(vm.forms['personORCIDAdd'])">
            <div class="small-screens" layout="column" ng-if="!vm.showTable()">
                <div class="search-header spacer-top space-left">
                    <span>ORCID results</span>
                </div>
                <div ng-repeat="(pubNum,publication) in vm.allORCIDPublications track by $index">
                    <div layout="column">
                        <div layout="row" layout-align=" center">
                            <div class="question"><span class="highlight">Title:</span></div>
                            <div class="answer"><span>{{publication.title}}</span></div>
                        </div>
                        <div layout="row" layout-align=" center">
                            <div class="question"><span class="highlight">DOI:</span></div>
                            <div class="answer"><span><a href="https://doi.org/{{publication.doi}}"
                                    target="_blank">{{publication.doi}}
                                </a></span></div>
                        </div>
                        <div layout="row" layout-align=" center">
                            <div class="question"><span class="highlight">Year:</span></div>
                            <div class="answer"><span>{{publication.year}}</span></div>
                        </div>
                        <div layout="row">
                            <md-button ng-click="vm.showDetailsORCID(publication)"
                                    aria-label="Details ORCID publication"
                                    class="md-icon-button interaction-button">
                                <md-icon md-svg-src="images/icons/description_24px.svg"></md-icon>
                            </md-button>
                        </div>
                    </div>
                    <md-divider ng-if="!vm.showTable()"></md-divider>
                </div>
                <div class="search-header spacer-top space-left">
                    <span>Selected publication details</span>
                </div>
                <div ng-repeat="(pubNum,publication) in vm.publicationDetailsORCID track by $index">
                    <div layout="column">
                        <div layout="row" layout-align=" center">
                            <div class="question"><span class="highlight">Title:</span></div>
                            <div class="answer"><span>{{publication.title}}</span></div>
                        </div>
                        <div layout="row" layout-align=" center">
                            <div class="question"><span class="highlight">Authors:</span></div>
                            <div class="answer"><span>{{publication.authors_raw}}</span></div>
                        </div>
                        <div layout="row" layout-align=" center">
                            <div class="question"><span class="highlight">Journal:</span></div>
                            <div class="answer"><span>{{publication.journal_name}}</span></div>
                        </div>
                        <div layout="row" layout-align=" center">
                            <div class="question"><span class="highlight">Vol/Num/Pages:</span></div>
                            <div class="answer"><span>{{publication.volume}},{{publication.number}},{{publication.pages}}</span></div>
                        </div>
                        <div layout="row" layout-align=" center">
                            <div class="question"><span class="highlight">Year:</span></div>
                            <div class="answer"><span>{{publication.year}}</span></div>
                        </div>
                        <div layout="row">
                            <div class="question"><span class="highlight">Doc. type:</span></div>
                            <div class="answer">
                                <span>
                                    <md-input-container class="select-container select-no-margin card-type">
                                        <md-select multiple ng-model="publication.publication_type_id"
                                                aria-label="publication type"
                                                name="publication_orcid_publication_type[pubNum]">
                                            <div class="scrollable">
                                                <md-option ng-repeat="type in vm.publicationTypes"
                                                        ng-value="type.id">{{type.name_en}}</md-option>
                                            </div>
                                        </md-select>
                                    </md-input-container>
                                </span>
                            </div>
                        </div>
                        <div layout="row">
                            <div class="question"><span class="highlight">I am:</span></div>
                            <div class="answer">
                                <span><md-input-container class="select-container select-no-margin card-type">
                                    <md-select ng-model="publication.author_type_id"
                                                aria-label="author type"
                                                name="publication_author_type[pubNum]">
                                            <div class="scrollable">
                                                <md-option ng-repeat="type in vm.authorTypes" ng-value="type.id">{{type.name_en}} author</md-option>
                                            </div>
                                        </md-select>
                                    </md-input-container>
                                </span>
                            </div>
                        </div>
                        <div layout="row">
                            <div class="question"><span class="highlight">Author rank:</span></div>
                            <div class="answer">
                                <span><md-input-container class="input-no-margin">
                                        <input ng-model="publication.position"
                                            aria-label="dedication"
                                            name="publication_position[pubNum]"
                                            integer-validate>
                                    </md-input-container>
                                </span>
                            </div>
                        </div>
                        <md-button ng-click="vm.addORCIDDatabase(publication)"
                                        aria-label="Add database"
                                        class="md-icon-button interaction-button">
                                    <md-icon md-svg-src="images/icons/add_24px.svg"></md-icon>
                                </md-button>
                    </div>
                    <md-divider ng-if="!vm.showTable()"></md-divider>
                </div>
                <div class="search-header spacer-top space-left">
                    <span>Publications to be added to LAQV/UCIBIO database</span>
                </div>
                <div ng-repeat="(pubNum,publication) in vm.addPublicationsORCID track by $index">
                    <div layout="column">
                        <div layout="row" layout-align=" center">
                            <div class="question"><span class="highlight">Title:</span></div>
                            <div class="answer"><span>{{publication.title}}</span></div>
                        </div>
                        <div layout="row" layout-align=" center">
                            <div class="question"><span class="highlight">Authors:</span></div>
                            <div class="answer"><span>{{publication.authors_raw}}</span></div>
                        </div>
                        <div layout="row" layout-align=" center">
                            <div class="question"><span class="highlight">Journal:</span></div>
                            <div class="answer"><span>{{publication.journal_name}}</span></div>
                        </div>
                        <div layout="row" layout-align=" center">
                            <div class="question"><span class="highlight">Year:</span></div>
                            <div class="answer"><span>{{publication.year}}</span></div>
                        </div>
                        <div layout="row">
                            <div class="question"><span class="highlight">Doc. type:</span></div>
                            <div class="answer">
                                <span>
                                    <md-input-container class="select-container select-no-margin card-type">
                                        <md-select multiple ng-model="publication.publication_type_id"
                                                aria-label="publication type"
                                                name="publication_orcid_publication_type[pubNum]">
                                            <div class="scrollable">
                                                <md-option ng-repeat="type in vm.publicationTypes"
                                                        ng-value="type.id">{{type.name_en}}</md-option>
                                            </div>
                                        </md-select>
                                    </md-input-container>
                                </span>
                            </div>
                        </div>
                        <div layout="row">
                            <div class="question"><span class="highlight">I am:</span></div>
                            <div class="answer">
                                <span><md-input-container class="select-container select-no-margin card-type">
                                    <md-select ng-model="publication.author_type_id"
                                                aria-label="author type"
                                                name="publication_author_type[pubNum]">
                                            <div class="scrollable">
                                                <md-option ng-repeat="type in vm.authorTypes" ng-value="type.id">{{type.name_en}} author</md-option>
                                            </div>
                                        </md-select>
                                    </md-input-container>
                                </span>
                            </div>
                        </div>
                        <div layout="row">
                            <div class="question"><span class="highlight">Author rank:</span></div>
                            <div class="answer">
                                <span><md-input-container class="input-no-margin">
                                        <input ng-model="publication.position"
                                            aria-label="dedication"
                                            name="publication_position[pubNum]"
                                            integer-validate>
                                    </md-input-container>
                                </span>
                            </div>
                        </div>
                    </div>
                    <md-divider ng-if="!vm.showTable()"></md-divider>
                </div>
            </div>
            <div ng-if="vm.showTable()">
                <div class="search-header spacer-top space-left">
                    <span>ORCID results</span>
                </div>
                <table class="publications">
                    <thead>
                        <tr>
                            <th class="large-contents-wide">
                                <a>Title</a>
                            </th>
                            <th class="standard-width">
                                <a>DOI</a>
                            </th>
                            <th class="smaller-width">
                                <a>Year</a>
                            </th>
                            <th  class="smaller-width"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(pubNum,publication) in vm.allORCIDPublications track by $index">
                            <td>{{publication.title}}</td>
                            <td>
                                <a href="https://doi.org/{{publication.doi}}"
                                    target="_blank">{{publication.doi}}
                                </a>
                            </td>
                            <td>{{publication.year}}</td>
                            <td>
                                <md-button ng-click="vm.showDetailsORCID(publication)"
                                        aria-label="Details ORCID publication"
                                        class="md-icon-button interaction-button">
                                    <md-icon md-svg-src="images/icons/description_24px.svg"></md-icon>
                                </md-button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="search-header spacer-top space-left">
                    <span>Selected publication details</span>
                </div>
                <table class="publications-orcid">
                    <thead>
                        <tr>
                            <th class="large-contents-wide">
                                <a>Title</a>
                            </th>
                            <th class="large-contents-narrow">
                                <a>Authors</a>
                            </th>
                            <th class="standard-width">
                                <a>Journal</a>
                            </th>
                            <th class="small-width">
                                <a>Vol/Num/Pages</a>
                            </th>
                            <th class="smaller-width">
                                <a>Year</a>
                            </th>
                            <th class="smaller-width">
                                <a>Doc. type</a>
                            </th>
                            <th class="smaller-width">
                                <a>I am ...</a>
                            </th>
                            <th class="smaller-width">
                                <a>Author<br>rank</a>
                            </th>
                            <th class="small-width">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(pubNum,publication) in vm.publicationDetailsORCID track by $index">
                            <td>{{publication.title}}</td>
                            <td>{{publication.authors_raw}}</td>
                            <td>{{publication.journal_name}}</td>
                            <td>{{publication.volume}},{{publication.number}},{{publication.pages}}</td>
                            <td>{{publication.year}}</td>
                            <td>
                                <md-input-container class="select-container select-no-margin card-type">
                                    <md-select multiple ng-model="publication.publication_type_id"
                                            aria-label="publication type"
                                            name="publication_orcid_publication_type[pubNum]">
                                        <div class="scrollable">
                                            <md-option ng-repeat="type in vm.publicationTypes"
                                                    ng-value="type.id">{{type.name_en}}</md-option>
                                        </div>
                                    </md-select>
                                </md-input-container>
                            </td>
                            <td>
                                <md-input-container class="select-container select-no-margin card-type">
                                    <md-select ng-model="publication.author_type_id"
                                            aria-label="author type"
                                            name="publication_orcid_author_type[pubNum]">
                                        <div class="scrollable">
                                            <md-option ng-repeat="type in vm.authorTypes" ng-value="type.id">{{type.name_en}} author</md-option>
                                        </div>
                                    </md-select>
                                </md-input-container>
                            </td>
                            <td>
                                <md-input-container class="input-no-margin">
                                    <input ng-model="publication.position"
                                        aria-label="dedication"
                                        name="publication_orcid_position[pubNum]"
                                        integer-validate>
                                </md-input-container>
                            </td>
                            <td>
                                <md-button ng-click="vm.addORCIDDatabase(publication)"
                                        aria-label="Add database"
                                        class="md-icon-button interaction-button">
                                    <md-icon md-svg-src="images/icons/add_24px.svg"></md-icon>
                                </md-button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="search-header spacer-top space-left">
                    <span>Publications to be added to LAQV/UCIBIO database</span>
                </div>
                <table class="publications-orcid">
                    <thead>
                        <tr>
                            <th class="large-contents-wide">
                                <a>Title</a>
                            </th>
                            <th class="large-contents-narrow">
                                <a>Authors</a>
                            </th>
                            <th class="standard-width">
                                <a>Journal</a>
                            </th>
                            <th class="smaller-width">
                                <a>Year</a>
                            </th>
                            <th class="smaller-width">
                                <a>Doc. type</a>
                            </th>
                            <th class="small-width">
                                <a>I am ...</a>
                            </th>
                            <th class="smaller-width">
                                <a>Author<br>rank</a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(pubNum,publication) in vm.addPublicationsORCID track by $index">
                            <td>{{publication.title}}</td>
                            <td>{{publication.authors_raw}}</td>
                            <td>{{publication.journal_name}}</td>
                            <td>{{publication.year}}</td>
                            <td>
                                <md-input-container class="select-container select-no-margin card-type">
                                    <md-select multiple ng-model="publication.publication_type_id"
                                            aria-label="publication type"
                                            name="publication_orcid_publication_type[pubNum]">
                                        <div class="scrollable">
                                            <md-option ng-repeat="type in vm.publicationTypes"
                                                    ng-value="type.id">{{type.name_en}}</md-option>
                                        </div>
                                    </md-select>
                                </md-input-container>
                            </td>
                            <td>
                                <md-input-container class="select-container select-no-margin card-type">
                                    <md-select ng-model="publication.author_type_id"
                                            aria-label="author type"
                                            name="publication_orcid_author_type[pubNum]">
                                        <div class="scrollable">
                                            <md-option ng-repeat="type in vm.authorTypes" ng-value="type.id">{{type.name_en}} author</md-option>
                                        </div>
                                    </md-select>
                                </md-input-container>
                            </td>
                            <td>
                                <md-input-container class="input-no-margin">
                                    <input ng-model="publication.position"
                                        aria-label="dedication"
                                        name="publication_orcid_position[pubNum]"
                                        integer-validate>
                                </md-input-container>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="spacer-top"
                    layout="column" layout-gt-sm="row" layout-align="none center">
                <md-button type="submit"
                    class="button-small md-raised md-primary">Add ORCID Pub.</md-button>
                <div class="status-message" ng-hide="vm.hideMessage[vm.forms['personORCIDAdd']]">
                    <span class="message" ng-class="vm.messageType[vm.forms['personORCIDAdd']]">
                        {{vm.updateStatus[vm.forms['personORCIDAdd']]}}
                    </span>
                </div>
            </div>
        </form>


    </md-card-content>
</md-card>
