<md-button id="person-sc-man-remove-info"
    ng-click="vm.deleteRole('scienceManager', vm.forms['personRmScManagerRole'])"
    class="button-small md-raised md-warn">Remove role</md-button>
<div class="status-message" ng-hide="vm.hideMessage[vm.forms['personRmScManagerRole']]">
        <span class="message" ng-class="vm.messageType[vm.forms['personRmScManagerRole']]">
            {{vm.updateStatus[vm.forms['personRmScManagerRole']]}}
        </span>
</div>
<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Science manager information</span>
        </md-card-title-text>
    </md-card-title>
    <form flex novalidate name="personScienceManagerInfoForm"
        ng-submit="personScienceManagerInfoForm.$valid && vm.submitScienceManagerInfo(vm.forms['personScManagerInfo'])">
        <md-card-content layout="column" flex>
            <div layout="column" layout-gt-xs="row" class="spacer-top">
                <md-input-container>
                    <label>FCT association key</label>
                    <input required ng-model="vm.thisPerson.science_manager_data[0].association_key"
                            name="science_manager_association_key">
                </md-input-container>
                <md-input-container>
                    <label>Ciência ID</label>
                    <input ng-model="vm.thisPerson.science_manager_data[0].ciencia_id"
                            name="ciencia_id">
                </md-input-container>
                <md-input-container>
                    <label>Researcher ID</label>
                    <input ng-model="vm.thisPerson.science_manager_data[0].researcherID"
                            name="science_manager_researcherID">
                </md-input-container>
                <md-input-container>
                    <label>Inst. Repository ID</label>
                    <input ng-model="vm.thisPerson.science_manager_data[0].pure_id" name="science_manager_pureID">
                </md-input-container>
            </div>
            <md-input-container>
                <label>ORCID (format: dddd-dddd-dddd-dddd)</label>
                <input ng-model="vm.thisPerson.science_manager_data[0].ORCID"
                        name="science_manager_orcid">
            </md-input-container>
            <div layout="column" layout-gt-sm="row" layout-align="none center">
                <md-button type="submit"
                    class="button-small md-raised md-primary">Update</md-button>
                <div class="status-message" ng-hide="vm.hideMessage[vm.forms['personScManagerInfo']]">
                    <span class="message" ng-class="vm.messageType[vm.forms['personScManagerInfo']]">
                        {{vm.updateStatus[vm.forms['personScManagerInfo']]}}
                    </span>
                </div>
            </div>
        </md-card-content>
    </form>
</md-card>