<div layout="row">
    <navigation-column></navigation-column>
    <div ng-if="!vm.accessPermission" layout="column" flex>
        <md-content class='md-padding' flex>
            Make sure you have the appropriate permissions to access this page.
        </md-content>
    </div>
    <div ng-if="vm.accessPermission" layout="column" flex>
        <toolbar-row></toolbar-row>
        <md-tabs md-selected="vm.selectedIndex" md-dynamic-height md-border-bottom>
            <md-tab label='With roles'>
                <md-content>
                    <div layout="row" layout-padding>
                        <all-people-presentation flex></all-people-presentation>
                    </div>
                    <div layout="row" layout-padding>
                        <all-people-inactive-presentation flex></all-people-inactive-presentation>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label='Without roles'>
                <md-content>
                    <all-people-no-roles-presentation flex></all-people-no-roles-presentation>
                </md-content>
            </md-tab>
            <md-tab ng-repeat="(num,person) in vm.thisPerson" label='{{person.name}}'>
                <md-tabs md-selected="vm.selectedIndexProductivity[num]" md-dynamic-height md-border-bottom>
                    <md-tab label='Info'>
                        <md-content>
                            <div layout-xs="column" layout-sm="column" layout="row" layout-padding>
                                <div flex-xs flex-sm flex-gt-sm="50" layout="column">
                                    <manager-authorization></manager-authorization>
                                    <manager-person-left></manager-person-left>
                                    <manager-fct-mctes></manager-fct-mctes>
                                    <manager-password-reset></manager-password-reset>
                                    <manager-user-permissions></manager-user-permissions>
                                    <manager-person-nuclear-info></manager-person-nuclear-info>
                                    <manager-person-contact-info></manager-person-contact-info>
                                    <manager-person-identifications-info></manager-person-identifications-info>
                                    <manager-person-cars-info></manager-person-cars-info>
                                    <manager-person-emergency-contacts-info></manager-person-emergency-contacts-info>
                                    <manager-person-finished-degrees></manager-person-finished-degrees>
                                    <manager-person-ongoing-degrees></manager-person-ongoing-degrees>
                                </div>
                                 <div flex-xs flex-sm flex-gt-sm="50" layout="column">
                                    <manager-person-photo></manager-person-photo>
                                    <manager-person-pole></manager-person-pole>
                                    <manager-person-institutional-contacts-info></manager-person-institutional-contacts-info>
                                    <manager-person-urls></manager-person-urls>
                                    <manager-person-department></manager-person-department>
                                    <manager-person-professional></manager-person-professional>
                                    <manager-person-responsibles></manager-person-responsibles>
                                    <manager-person-current-roles></manager-person-current-roles>
                                    <manager-person-cost-center ng-if="vm.isPorto(num)"></manager-person-cost-center>
                                    <manager-person-author-names></manager-person-author-names>

                                </div>
                            </div>
                        </md-content>
                    </md-tab>
                    <md-tab label='Publications'>
                        <div layout="row" layout-padding>
                            <md-content>
                                <div layout-padding>
                                    <manager-person-publications-large
                                        ng-if="vm.showTable()"
                                        data-person="{{person.id}}"
                                        data-name="{{person.colloquial_name}}"
                                        flex>
                                    </manager-person-publications-large>
                                    <manager-person-publications-small
                                        ng-if="!vm.showTable()"
                                        data-person="{{person.id}}"
                                        flex>
                                    </manager-person-publications-small>
                                    <manager-add-person-publications-large
                                        ng-if="vm.showTable()"
                                        data-person="{{person.id}}"
                                        flex>
                                    </manager-add-person-publications-large>
                                    <manager-add-person-publications-small
                                        ng-if="!vm.showTable()"
                                        data-person="{{person.id}}"
                                        flex>
                                    </manager-add-person-publications-small>

                                    <manager-add-person-publications-pure-large ng-if="vm.showTable()"
                                        data-person="{{person.id}}"
                                        data-pureres="{{person.researcher_data[0].pure_id}}"
                                        data-puretech="{{person.technician_data[0].pure_id}}"
                                        data-purescman="{{person.science_manager_data[0].pure_id}}" flex>
                                    </manager-add-person-publications-pure-large>
                                    <manager-add-person-publications-pure-small ng-if="!vm.showTable()"
                                        data-person="{{person.id}}"
                                        data-pureres="{{person.researcher_data[0].pure_id}}"
                                        data-puretech="{{person.technician_data[0].pure_id}}"
                                        data-purescman="{{person.science_manager_data[0].pure_id}}" flex>
                                    </manager-add-person-publications-pure-small>



                                    <manager-add-person-publications-orcid-large
                                        ng-if="vm.showTable()"
                                        data-person="{{person.id}}"
                                        data-orcidres="{{person.researcher_data[0].ORCID}}"
                                        data-orcidtech="{{person.technician_data[0].ORCID}}"
                                        data-orcidscman="{{person.science_manager_data[0].ORCID}}"
                                        flex>
                                    </manager-add-person-publications-orcid-large>
                                    <manager-add-person-publications-orcid-small
                                        ng-if="!vm.showTable()"
                                        data-person="{{person.id}}"
                                        data-orcidres="{{person.researcher_data[0].ORCID}}"
                                        data-orcidtech="{{person.technician_data[0].ORCID}}"
                                        data-orcidscman="{{person.science_manager_data[0].ORCID}}"
                                        flex>
                                    </manager-add-person-publications-orcid-small>
                                </div>
                            </md-content>
                        </div>
                    </md-tab>
                    <md-tab label='Communications'>
                        <div layout="row" layout-padding>
                            <md-content flex>
                                <div layout-padding>
                                    <manager-person-communications-large
                                        ng-if="vm.showTable()"
                                        data-person="{{person.id}}"
                                        data-name="{{person.colloquial_name}}"
                                        flex>
                                    </manager-person-communications-large>
                                    <manager-person-communications-small
                                        ng-if="!vm.showTable()"
                                        data-person="{{person.id}}"
                                        data-name="{{person.colloquial_name}}"
                                        flex>
                                    </manager-person-communications-small>
                                    <manager-add-person-communications-large
                                        ng-if="vm.showTable()"
                                        data-person="{{person.id}}"
                                        flex>
                                    </manager-add-person-communications-large>
                                    <manager-add-person-communications-small
                                        ng-if="!vm.showTable()"
                                        data-person="{{person.id}}"
                                        flex>
                                    </manager-add-person-communications-small>
                                    <manager-add-person-communications-orcid-large
                                        ng-if="vm.showTable()"
                                        data-person="{{person.id}}"
                                        data-orcidres="{{person.researcher_data[0].ORCID}}"
                                        data-orcidtech="{{person.technician_data[0].ORCID}}"
                                        data-orcidscman="{{person.science_manager_data[0].ORCID}}"
                                        flex>
                                    </manager-add-person-communications-orcid-large>
                                    <manager-add-person-communications-orcid-small
                                        ng-if="!vm.showTable()"
                                        data-person="{{person.id}}"
                                        data-orcidres="{{person.researcher_data[0].ORCID}}"
                                        data-orcidtech="{{person.technician_data[0].ORCID}}"
                                        data-orcidscman="{{person.science_manager_data[0].ORCID}}"
                                        flex>
                                    </manager-add-person-communications-orcid-small>
                                </div>
                            </md-content>
                        </div>
                    </md-tab>
                    <md-tab label='Funding'>
                        <div layout="row" layout-padding>
                            <md-content flex>
                                <div layout-padding>
                                    <manager-person-projects-large
                                        data-person="{{person.id}}"
                                        flex>
                                    </manager-person-projects-large>
                                    <manager-person-agreements-large
                                        data-person="{{person.id}}"
                                        flex>
                                    </manager-person-agreements-large>
                                    <manager-person-trainings-large
                                        data-person="{{person.id}}"
                                        flex>
                                    </manager-person-trainings-large>
                                </div>
                            </md-content>
                        </div>
                    </md-tab>
                    <md-tab label='Patents'>
                        <div layout="row" layout-padding>
                            <md-content flex>
                                <div layout-padding>
                                    <manager-person-patents-large
                                        data-person="{{person.id}}"
                                        flex>
                                    </manager-person-patents-large>
                                </div>
                            </md-content>
                        </div>
                    </md-tab>
                    <md-tab label='Datasets'>
                        <div layout="row" layout-padding>
                            <md-content flex>
                                <div layout-padding>
                                    <manager-person-datasets-large
                                        data-person="{{person.id}}"
                                        flex>
                                    </manager-person-datasets-large>
                                </div>
                            </md-content>
                        </div>
                    </md-tab>
                    <md-tab label='Startups'>
                        <div layout="row" layout-padding>
                            <md-content flex>
                                <div layout-padding>
                                    <manager-person-startups-large
                                        data-person="{{person.id}}"
                                        flex>
                                    </manager-person-startups-large>
                                </div>
                            </md-content>
                        </div>
                    </md-tab>
                    <md-tab label='Prizes'>
                        <div layout="row" layout-padding>
                            <md-content flex>
                                <div layout-padding>
                                    <manager-person-prizes-large
                                        data-person="{{person.id}}"
                                        flex>
                                    </manager-person-prizes-large>
                                </div>
                            </md-content>
                        </div>
                    </md-tab>
                    <md-tab label='Boards'>
                        <div layout="row" layout-padding>
                            <md-content flex>
                                <div layout-padding>
                                    <manager-person-boards-large
                                        data-person="{{person.id}}"
                                        flex>
                                    </manager-person-boards-large>
                                </div>
                            </md-content>
                        </div>
                    </md-tab>
                    <md-tab label='Outreach'>
                        <div layout="row" layout-padding>
                            <md-content flex>
                                <div layout-padding>
                                    <manager-person-outreach-large
                                        data-person="{{person.id}}"
                                        flex>
                                    </manager-person-outreach-large>
                                </div>
                            </md-content>
                        </div>
                    </md-tab>
                </md-tabs>
            </md-tab>
            <md-tab label='To Validate'>
                <md-tabs md-selected="vm.selectedIndexValidate" md-dynamic-height md-border-bottom>
                    <md-tab label='List'>
                        <md-content>
                            <div layout="row" layout-padding>
                                <list-people-validate flex></list-people-validate>
                            </div>
                        </md-content>
                    </md-tab>
                    <md-tab ng-repeat="(num,name) in vm.nameDetailsValidate" label='{{name}}'>
                        <md-content>
                            <div layout-xs="column" layout="row" layout-padding>
                                <div flex-xs flex-sm flex-gt-sm="50" layout="column">
                                    <validate-person></validate-person>
                                    <validate-fct-mctes></validate-fct-mctes>
                                    <validate-user-permissions></validate-user-permissions>
                                    <validate-person-photo></validate-person-photo>
                                    <validate-person-nuclear-info></validate-person-nuclear-info>
                                    <validate-person-pole></validate-person-pole>
                                    <validate-person-contact-info></validate-person-contact-info>
                                    <validate-person-identifications-info></validate-person-identifications-info>
                                    <validate-person-cars-info></validate-person-cars-info>
                                </div>
                                 <div flex-xs flex-sm flex-gt-sm="50" layout="column">
                                    <validate-person-institutional-contacts-info></validate-person-institutional-contacts-info>
                                    <validate-person-department></validate-person-department>
                                    <validate-person-professional></validate-person-professional>
                                    <validate-person-responsibles></validate-person-responsibles>
                                    <validate-person-current-roles></validate-person-current-roles>
                                </div>
                            </div>
                        </md-content>
                    </md-tab>
                </md-tabs>
            </md-tab>
        </md-tabs>
    </div>
</div>