<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Administrative information</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content layout="column" flex>
        <div layout="column" layout-gt-xs="row" class="spacer-top">
            <md-input-container>
                <label>FCT association key</label>
                <input required ng-model="vm.thisPerson.administrative_data.association_key"
                        name="administrative_association_key">
            </md-input-container>
        </div>
        <div ng-repeat="(num,office) in vm.thisPerson.administrative_data.office track by $index"
                    layout="column">
            <fieldset class="spacer">
                <div layout="column" layout-gt-sm="row">
                    <md-input-container
                        class="search-box select-container input-row">
                        <label>Office</label>
                        <md-select required ng-model="vm.thisPerson.administrative_data.office[num].office_id"
                                    name="administrative_office_id[num]">
                            <md-option ng-repeat="off in vm.administrativeOffices"
                                ng-value="off.id">{{off.name_en}}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container
                        class="search-box select-container input-row">
                        <label>Unit</label>
                        <md-select required ng-model="vm.thisPerson.administrative_data.office[num].unit_id"
                                    name="administrative_unit_id[num]">
                            <md-option ng-repeat="unit in vm.units"
                                ng-value="unit.id">{{unit.short_name}}</md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div layout="column" layout-gt-xs="row">
                    <md-input-container>
                        <label>Dedication (%)</label>
                        <input required ng-model="vm.thisPerson.administrative_data.office[num].dedication"
                                name="administrative_dedication[num]" dedication-validate>
                    </md-input-container>
                    <md-input-container>
                        <label>Position</label>
                        <md-select ng-model="vm.thisPerson.administrative_data.office[num].office_position_id"
                                name="administrative_position[num]">
                            <md-option ng-repeat="pos in vm.administrativePositions" ng-value="pos.id">{{pos.name_en}}</md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div layout="column" layout-gt-xs="row">
                    <md-input-container class="input-row-longer">
                        <label>Start</label>
                        <md-datepicker md-current-view="year" required ng-model="vm.thisPerson.administrative_data.office[num].start"
                                name="administrative_start[num]" md-placeholder="Enter date"></md-datepicker>
                    </md-input-container>
                    <md-input-container class="input-row-longer">
                        <label>End</label>
                        <md-datepicker md-current-view="year" ng-model="vm.thisPerson.administrative_data.office[num].end"
                                md-min-date="vm.thisPerson.administrative_data.office[num].start"
                                name="administrative_end[num]"
                                md-placeholder="Enter date"></md-datepicker>
                    </md-input-container>
                    <div layout="row" layout-align="start center">
                        <md-button ng-click="vm.removeRows(vm.thisPerson.administrative_data.office,$index)"
                                aria-label="Remove"
                                class="md-icon-button interaction-button">
                            <md-icon md-svg-src="images/icons/remove_24px.svg"></md-icon>
                        </md-button>
                        <md-button ng-if="$last" ng-click="vm.addRows(vm.thisPerson.administrative_data.office, 'administrative')"
                                aria-label="Add more" class="md-icon-button interaction-button">
                            <md-icon md-svg-src="images/icons/add_24px.svg"></md-icon>
                        </md-button>
                    </div>
                </div>
            </fieldset>
        </div>
        <div ng-if="vm.nothingToShow(vm.thisPerson.administrative_data.office)" layout="column">
            <br><br>To add affiliations to administrative offices press +
            <md-button ng-click="vm.addRows(vm.thisPerson.administrative_data.office, 'administrative')"
                    aria-label="Add more" class="md-icon-button interaction-button">
                <md-icon md-svg-src="images/icons/add_24px.svg"></md-icon>
            </md-button>
        </div>
    </md-card-content>
</md-card>