<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Researcher information</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content layout="column" flex>
        <div layout="column" layout-gt-sm="row">
            <md-switch ng-model="vm.thisPerson.researcher_data.pluriannual"
                    ng-true-value="1" ng-false-value="0"
                    class="md-warn">
                 Pluriannual: {{ vm.switchValue(vm.thisPerson.researcher_data.pluriannual) }}
            </md-switch>
            <md-switch ng-model="vm.thisPerson.researcher_data.integrated"
                    ng-true-value="1" ng-false-value="0"
                    class="md-warn">
                 Integrated: {{ vm.switchValue(vm.thisPerson.researcher_data.integrated) }}
            </md-switch>
            <md-switch ng-model="vm.thisPerson.researcher_data.nuclearCV"
                    ng-true-value="1" ng-false-value="0"
                    class="md-warn">
                 Nuclear CV: {{ vm.switchValue(vm.thisPerson.researcher_data.nuclearCV) }}
            </md-switch>
        </div>
        <div layout="column" layout-gt-xs="row" class="spacer-top">
            <md-input-container>
                <label>FCT association key</label>
                <input required ng-model="vm.thisPerson.researcher_data.association_key"
                        name="researcher_association_key">
            </md-input-container>
            <md-input-container>
                <label>Researcher ID</label>
                <input ng-model="vm.thisPerson.researcher_data.researcherID"
                        name="researcher_researcherID">
            </md-input-container>
        </div>
        <md-input-container>
            <label>ORCID</label>
            <input ng-model="vm.thisPerson.researcher_data.ORCID"
                    name="researcher_orcid">
        </md-input-container>
        <md-input-container>
            <label>scopus ID</label>
            <input ng-model="vm.thisPerson.researcher_data.scopus"
                    name="researcher_scopus">
        </md-input-container>
        <div ng-repeat="(num,affLab) in vm.thisPerson.researcher_data.affiliation_lab track by $index"
                    layout="column">
            <fieldset class="spacer">
                <div layout="column" layout-gt-sm="row">
                    <md-input-container
                        class="search-box select-container input-row"
                        ng-controller="LabSelectCtrl as laboratory">
                        <label>Lab</label>
                        <md-select required ng-model="vm.thisPerson.researcher_data.affiliation_lab[num].lab_row"
                            md-on-close="vm.updateOnSelect(vm.thisPerson.researcher_data.affiliation_lab,vm.labs,num,'lab_row', ['lab_id','lab','lab_opened','lab_closed','group_opened','group_closed','group_id','group_name','unit_id','unit'])"
                            md-container-class="correct-overflow" name="affLab_id[num]">
                            <div class="anchored">
                                <md-select-header class="select-search-header">
                                    <input ng-model="laboratory.searchTerm" type="search"
                                      placeholder="Search your lab"
                                      class="md-text select-search-box">
                            </md-select-header>
                            </div>
                                <md-optgroup class="scrollable" label="laboratories">
                                    <md-option ng-repeat="lab in vm.labs | filter: laboratory.searchTerm"
                                        ng-value="lab.lab_row">{{lab.lab}}@{{lab.group_name}}</md-option>
                                </md-optgroup>
                        </md-select>
                    </md-input-container>
                    <md-input-container flex>
                        <label>Group</label>
                        <input disabled ng-model="vm.thisPerson.researcher_data.affiliation_lab[num].group_name"
                                name="affLab_group_name[num]">
                    </md-input-container>
                </div>
                <div flex>
                    <md-input-container flex>
                        <label>Unit</label>
                        <input disabled ng-model="vm.thisPerson.researcher_data.affiliation_lab[num].unit"
                                name="affLab_unit[num]">
                    </md-input-container>
                </div>
                <div layout="column" layout-gt-xs="row">
                    <md-input-container>
                        <label>Dedication (%)</label>
                        <input required ng-model="vm.thisPerson.researcher_data.affiliation_lab[num].dedication"
                                name="affLab_dedication[num]" dedication-validate>
                    </md-input-container>
                    <md-input-container>
                        <label>Position</label>
                        <md-select ng-model="vm.thisPerson.researcher_data.affiliation_lab[num].lab_position_id"
                                name="affLab_position[num]">
                            <md-option ng-repeat="pos in vm.labPositions" ng-value="pos.lab_position_id">{{pos.name_en}}</md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div layout="column" layout-gt-xs="row">
                    <md-input-container class="input-row-longer">
                        <label>Start</label>
                        <md-datepicker md-current-view="year" required ng-model="vm.thisPerson.researcher_data.affiliation_lab[num].start"
                                name="affLab_start[num]" md-placeholder="Enter date"></md-datepicker>
                    </md-input-container>
                    <md-input-container class="input-row-longer">
                        <label>End</label>
                        <md-datepicker md-current-view="year" ng-model="vm.thisPerson.researcher_data.affiliation_lab[num].end"
                                md-min-date="vm.thisPerson.researcher_data.affiliation_lab[num].start"
                                name="affLab_end[num]" md-placeholder="Enter date"></md-datepicker>
                    </md-input-container>
                    <div layout="row" layout-align="start center">
                        <md-button ng-click="vm.removeRows(vm.thisPerson.researcher_data.affiliation_lab,$index)"
                                aria-label="Remove"
                                class="md-icon-button interaction-button">
                            <md-icon md-svg-src="images/icons/remove_24px.svg"></md-icon>
                        </md-button>
                        <md-button ng-if="$last" ng-click="vm.addRows(vm.thisPerson.researcher_data.affiliation_lab, 'affiliationsLab')"
                                aria-label="Add more" class="md-icon-button interaction-button">
                            <md-icon md-svg-src="images/icons/add_24px.svg"></md-icon>
                        </md-button>
                    </div>
                </div>
            </fieldset>
        </div>
        <div ng-if="vm.nothingToShow(vm.thisPerson.researcher_data.affiliation_lab)" layout="column">
            <br><br>To add affiliations to labs press +
            <md-button ng-click="vm.addRows(vm.thisPerson.researcher_data.affiliation_lab, 'affiliationsLab')"
                    aria-label="Add more" class="md-icon-button interaction-button">
                <md-icon md-svg-src="images/icons/add_24px.svg"></md-icon>
            </md-button>
        </div>
    </md-card-content>
</md-card>