md-tab(label='Institutional')
    div(layout-xs='column', layout='row')
        div(flex-xs, flex-gt-xs='50', layout='column')
            md-card(ng-controller='DegreesCtrl as deg')
                md-card-title 
                    md-card-title-text
                        span(class='md-headline') Affiliation
                md-card-content teste
                    
                